@font-face {
    font-family: Texta-Book;
    src: url(/resource/HMR_ThemeFonts/fonts/TextaBook.eot);
    src: url(/resource/HMR_ThemeFonts/fonts/TextaBook_IEFix.eot) format("embedded-opentype"), url(/resource/HMR_ThemeFonts/fonts/TextaBook.woff2) format("woff2"), url(/resource/HMR_ThemeFonts/fonts/TextaBook.woff) format("woff"), url(/resource/HMR_ThemeFonts/fonts/TextaBook.ttf) format("truetype");
}
@font-face {
    font-family: Texta-Bold;
    src: url(/resource/HMR_ThemeFonts/fonts/TextaBold.eot);
    src: url(/resource/HMR_ThemeFonts/fonts/TextaBold_IEFix.eot) format("embedded-opentype"), url(/resource/HMR_ThemeFonts/fonts/TextaBold.woff2) format("woff2"), url(/resource/HMR_ThemeFonts/fonts/TextaBold.woff) format("woff"), url(/resource/HMR_ThemeFonts/fonts/TextaBold.ttf) format("truetype");
}
@font-face {
    font-family: Texta-Thin;
    src: url(/resource/HMR_ThemeFonts/fonts/TextaThin.eot);
    src: url(/resource/HMR_ThemeFonts/fonts/TextaThin_IEFix.eot) format("embedded-opentype"), url(/resource/HMR_ThemeFonts/fonts/TextaThin.woff2) format("woff2"), url(/resource/HMR_ThemeFonts/fonts/TextaThin.woff) format("woff"), url(/resource/HMR_ThemeFonts/fonts/TextaThin.ttf) format("truetype");
}
@font-face {
    font-family: Texta-Light;
    src: url(/resource/HMR_ThemeFonts/fonts/TextaLight.eot);
    src: url(/resource/HMR_ThemeFonts/fonts/TextaLight_IEFix.eot) format("embedded-opentype"), url(/resource/HMR_ThemeFonts/fonts/TextaLight.woff2) format("woff2"), url(/resource/HMR_ThemeFonts/fonts/TextaLight.woff) format("woff"), url(/resource/HMR_ThemeFonts/fonts/TextaLight.ttf) format("truetype");
}
@font-face {
    font-family: Copernicus;
    src: url(/resource/HMR_ThemeFonts/fonts/Copernicus.eot);
    src: url(/resource/HMR_ThemeFonts/fonts/Copernicus_IEFix.eot) format("embedded-opentype"), url(/resource/HMR_ThemeFonts/fonts/Copernicus.woff) format("woff");
}
body {
    font-family: Texta-Book;
    color: #5D6770;
}
h1 {
    font-family: Texta-Thin;
    font-size: 52px;
    line-height: 40px;
}
h2 {
    font-family: Texta-Thin;
    font-size: 42px;
}
h3 {
    font-family: Texta-Bold;
    font-size: 16px;
}
h4, .big-label {
    font-family: Texta-Light;
    font-size: 28px;
    letter-spacing: 0.01em;
    line-height: 34px;
    font-weight: normal;
}
h5 {
    font-size: 22px;
    line-height: 31px;
    font-family: Texta-Book;
}
h6 {
    font-size: 24px;
    line-height: 33px;
}
h6.grey {
    color: #95989A;
}
h3.blue, h5.blue, .blue {
    color: #46BBEB;
}
.texta-book-f {
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 25px;
}
h3.book {
    font-family: Texta-Book;
}
h2.hero-title {
    font-size: 52px;
    margin-top: 0px;
    line-height: 50px;
}
p {
    font-family: Texta-Book;
    letter-spacing: 0.01em;
}
a {
    font-family: Texta-Bold;
    color: #46BBEB;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}
ul, .no-left-padding {
    padding-left: 0px;
}
li, .hmr-desc-text {
    font-size: 20px;
    font-family: Texta-Book;
    letter-spacing: 0.01em;
    line-height: 30px;
}
a:hover {
    text-decoration: none;
}
.hmr-allcaps {
    font-size: 14px;
    font-family: Texta-Bold;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}
.hmr-allcaps.normal {
    color: #5D6770;
}
.hmr-allcaps.normal:hover {
    color: #46BBEB;
}
.hmr-allcaps.separator {
    margin: 0px 15px;
    color: #5D6770;
}
.hmr-allcaps.cart-blue {
    line-height: 20px;
    border-right: 2px solid;
    padding-right: 12px;
    margin-right: 12px;
}
.bolded-header {
    font-size: 20px;
    font-family: Texta-Bold;
    letter-spacing: 0.14em;
    line-height: 28px;
}
.text-11b {
    font-family: Texta-Book;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 23px;
}
h3.hmr-allcaps {
    font-size: 16px;
    margin-top: 0px;
}
a.hmr-allcaps {
    display: inline-block;
}
h3.hmr-allcaps:first-child {
    margin-top: 40px;
}
h3.heading {
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #343E48;
    line-height: 23px;
}
/* Hero Section Text CSS Start */
.home-hero-subtitle {
    color: #5d6770;
}
.home-hero-title {
    color: #1e252c;
}
.home-hero-link, .home-hero-link-cart {
    color: #FFFFFF;
}
/* Hero Section Text CSS End */
.sub-header {
    font-size: 36px;
    font-family: Texta-Light;
    line-height: 36px;
}
.italic {
    letter-spacing: 0.02em;
    font-size: 18px;
    font-family: Copernicus;
}
.italic.orange {
    color: #FF7349;
}
.hmr-allcaps.hero-subtitle {
    font-size: 36px;
    line-height: 52px;
}
.hmr-allcaps.plans-hero-subtitle {
    font-size: 20px;
    line-height: 28px;
}
.hmr-allcaps.hmr-data-content {
    font-size: 16px;
    line-height: 40px;
}
.hmr-hero-section .row:first-child {
    padding-top: 100px;
}
.hmr-plans-hero-section .container {
    margin-left: 15%;
    top: 40%;
    position: absolute;
}
.hmr-hero-section .row {
    padding-left: 100px;
}
a.hmr-allcaps-white, .hmr-allcaps-white, .hmr-hero-section .white, .hmr-plans-hero-section .white, .hmr-data-card, h3.white, .white  {
    color: #ffffff;
}
.hmr-allcaps-blue {
    color: #46BBEB;
}
.hmr-allcaps-container {
    /*display: block;*/
}
a.hmr-allcaps-carat {
    font-size: 28px;
    font-family: Texta-Book;
    margin-left: 5px;
    margin-top: 0px;
    /*position: relative;
    float: right;*/
    position: absolute;
    display: inline-block;
}
.best-diets-container {
    display: inline-block;
}
.best-diets-container-parent {
    position: absolute;
    bottom: 25px;
}
.best-diets-container img{
    width: 123px;
    height: auto;
    margin: 0px 10px 0px 0px;
}
.hmr-page-section p, .hmr-page-section-plans p, .hmr-zip-code-section p{
    font-size: 14px;
    margin-top: 30px;
}
.hmr-page-section {
    min-height: 900px;
    display: flex;
    align-items: baseline;
}
.hmr-flex {
    display: flex;
    align-items: center;
}
.hmr-page-section-plans {
    min-height: 700px;
}
.hmr-page-section-plans .row:first-child {
    /*padding-top: 50px;*/
}
.hmr-plans-container {
    padding: 30px 50px;
}
.section-right-white {
    color: #ffffff;
    text-align: left;
}
.section-right-black {
    text-align: left;
}
.section-right {
    text-align: center;
}
select[disabled] {
    background-color: #eee !important;
}
.hmr-hero-section, .hmr-cliniclanding-hero-section, .hmr-zip-code-section, .hmr-professionals-section {
    min-height: 100vh;
}
.hmr-zip-code-section, .hmr-professionals-section {
    position: relative;
}
.hmr-plans-hero-section {
    height: 703px;
    position: relative;
}
.plans-tabs-row {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-left: 0px;
}
.plans-tabs-row .plans-tab {
    /*width: 48%;*/
    width: 45%;
    float: left;
    height: 158px;
    margin: 0px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HealthySolutionsDesktop/plansTabBlurbgLarge.png);
}
.plans-tabs-row .plans-tab.selected {
    background: #fff;
    color: #1E252C;
    cursor: auto;
}
.plans-tab div {
    display: inline-block;
    text-align: left;
}
.bg-typecover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-typecontain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-homehero {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeDesktop/HeroImageDesktop@2x.jpg);
}
.bg-cliniclandinghero {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/ClinicLandingDesktop/ClinicLandingHero.jpg);
}
.bg-planshero {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HealthySolutionsDesktop/PlansPageDesktop@2x.jpg);
}
.bg-books {
    background-image: url(img/HSBook@2x.png);
    background-position: -160px;
}
.bg-foods {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HealthySolutionsDesktop/FoodSolutions.jpg);
}
.bg-physician {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/ClinicLandingDesktop/Physician.jpg);
}
.bg-lasagna {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeDesktop/Lasagna.jpg);
    /*background-position: -400px 0px;*/
}
.bg-supporthands {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/ClinicLandingDesktop/SupportHands.jpg);
    background-position: 0;
}
.bg-sneakers {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HealthySolutionsDesktop/LeftSneakerLarge.jpg);
}
.bg-program {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/ClinicLandingDesktop/PremiereProgramLarge.png);
}
.bg-diffapproach {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeDesktop/DiffApproach.png);
}
.bg-coachgirl {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeDesktop/CoachGirl.jpg);
    background-position: -400px 0px;
}
.bg-subscribe {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeDesktop/DontMissOutDesktop@2x.jpg);
    background-position: -400px 0px;
}
.bg-blueberry {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/ClinicLandingDesktop/BlueberryShake.jpg);
}
.bg-usnews {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/ClinicLandingDesktop/usnewsgrouplarge.png);
}
.bg-appleShake {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeDesktop/OurFoodsDesktop@2x.jpg);
}
.bg-provenSuccess {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeDesktop/ProvenSuccessDesktop@2x.jpg);
}
.bg-subscribeMulti {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeDesktop/DontMissOutDesktop@2x.jpg);
}
.bg-foodsHIW {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeDesktop/HowItWorksDesktop@2x.jpg);
}
.bg-coachingsolutions {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HealthySolutionsDesktop/CoachingWithFootnote.png);
}
.bg-foodsshakes {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HealthyShakesDesktop/FoodShakes.jpg);
}
.bg-guidanceshake {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HealthyShakesDesktop/GuidanceShakes.jpg);
}
.bg-rightsneakers {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HealthyShakesDesktop/RightSneaker.jpg);
}
.bg-healthysolutions {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeDesktop/ChangeThatLastsDesktop@2x.jpg);
}
.bg-healthyshakes {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/HealthyShakesDesktop/ShakesBlazeTrailLarge.jpg);
}
.bg-plans {
    min-height: 264px;
}
.bg-zipcode {
    background-image: url(https://www.myhmrprogram.com/ContentMedia/ZipCodeDesktop/ZipCodeBg.jpg);
    height: 100vh;
}
.btn-container, .link-container, .hmr-data-section .col-sm-6 {
    margin-top: 40px;
}
.hmr-data-section {
    height: auto;
}
.btn-container.plans {
    text-align: center;
    margin: 50px auto;
}
.hmr-data-card {
    height: 315px;
    text-align: center;
}
.hmr-data-card .italic {
    padding: 0px 70px;
}
.hmr-data-card .italic.first {
    padding: 0px 100px;
}
.hmr-data-card .italic span {
    font-size: 20px;
}
.hmr-data-card .row:first-child {
    padding-top: 60px;
    padding-bottom: 40px;
}
.hmr-data-card:first-child {
    margin-left: -15px;
}
.hmr-data-card .row:last-child {
    margin-top: 10px;
}
.clinic-information-request-section {
    background-color: #F5F5F5;
    height: 154px;
    display: flex;
    align-items: center;
}
.clinic-information-request-section .row, .clinic-information-request-section .btn-container {
    margin-top: 0px;
}
.clinic-information-request-section p {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.01em;
}
.btn {
    font-size: 18px;
    font-family: Texta-Bold;
    letter-spacing: 0.02em;
}
.hmr-btn-blue, .hmr-btn-blue:hover, .hmr-btn-blue:active, .hmr-btn-blue:focus, .hmr-btn-blue:active:focus {
    background-color: #46BBEB;
    border: none;
    outline: none;
}
.hmr-btn-white, .hmr-btn-white:hover, .hmr-btn-white:active, .hmr-btn-white:focus, .hmr-btn-white:active:focus {
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
}
.hmr-btn-small {
    width: 200px;
    height: 54px;
    border-radius: 50px;
    line-height: 40px;
}
.hmr-btn-xsmall {
    width: auto;
    height: 35px;
    border-radius: 25px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0px 20px;
}
.hmr-btn-xsmall.save-account {
    margin-top: 20px;
}
.hmr-btn-xxsmall {
    width: 133px;
    height: 35px;
    border-radius: 25px;
    line-height: 20px;
    color: #FFFFFF;
}
.bg-healthysolutions-info {
    background-color: #FFFFFF;
}
.bg-healthysolutions-info li {
    margin: 20px;
}
.kit-config-hero li {
    margin: 10px 0px 0px 20px;
}
.kit-config-hero h2 {
    margin: 10px 0px 0px -4px;
}
.kit-config-hero .contents {
    /* padding-top: 50px; */
    display: flex;
    align-items: center;
}
.bg-healthysolutions-info .sub-header, .bg-healthysolutions-info .btn-container {
    float: right;
}
.bg-healthysolutions-info .btn-container, .kit-config-header .col-lg-4, .kit-config-header .col-sm-5, .kit-config-header .col-xs-5{
    padding-right: 0px;
}
.bg-healthysolutions-info .row {
    margin-top: 0px;
}
.bg-healthysolutions-info .link-container {
    margin-top: 5px;
}
.plans-mobile-header-section, .plans-mobile-footer-section {
    background-color: #46BBEB;
    height: 119px;
}
.plans-mobile-header-section h3.hmr-allcaps:first-child, .plans-mobile-footer-section h3.hmr-allcaps:first-child {
    margin-top: 0px;
}
.plans-mobile-header-section .row:first-child {
    margin-top: 23px;
}
.plans-mobile-footer-section .row:first-child {
    margin-top: 13px;
}
.plans-mobile-header-section .row {
    padding-left: 20px;
}
.plans-mobile-footer-section .row {
    padding-left: 5px;
}
.plans-arrow {
    width: 30px;
}
.plans-mobile-footer-section .col-xs-2 {
    padding-top: 40px;
    margin-left: -15px;
}
/* Kit Config CSS Start */
.product-card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    background-color: #fff;
    border: 1px solid #C2C6C9;
    border-radius: 4px;
    /*width: 373px;*/
    min-height: 390px;
    margin: 0px auto 20px;
}
.product-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-img {
    /*width: 371px;*/
    height: 215px;
}
.product-img img{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5625rem;
}
.card-title {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 28px;
    /*width: 75%;*/
    width: 100%;
    height: 55px;
}
.card-row img {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}
.allergens-row, .details-row, .servings-counter-row, .amount-addcart-row {
    display: flex;
    align-items: center;
}
.details-row .hmr-allcaps:first-child {
    padding-left: 0px;
}
.details-row .hmr-allcaps {
    padding-left: 5px;
}
.allergens-row h5 {
    font-size: 21px;
}
.servings-counter-row {
    margin-top: 15px;
    color: #343E48;
}
.amount-addcart-row {
    margin-top: 5px;
}
.item-counter-group, .item-counter-group input {
    width: 130px;
    font-size: 20px !important;
    font-family: Texta-Light;
    line-height: 28px;
    text-align: center;
    height: 37px !important;
    border-right: none;
}
.item-counter-group button {
    height: 37px !important;
    font-size: 20px !important;
    font-family: Texta-Light;
    line-height: 0px !important;
    background-color: #FFF;
    border: 1px solid #D0D3D4;
}
.item-counter-group .add-item-btn, .item-counter-group .subtract-item-btn {
    /*border-left: none;*/
    padding: 12px !important;
}
.card-row div {
    padding-left: 0px;
}
.card-row h5 {
    float: right;
}
.kit-config-header {
    height: 82px;
    background-color: #FFFFFF;
}
.kit-config-header .container, .kit-config-content-section .header {
    border-bottom: 1px solid #F1F1F1;
}
.kit-config-header .container {
    padding-left: 0px;
}
.kit-config-content-section .container-fluid {
    margin-top: 20px;
}
.kit-config-content-section .container-fluid .col-lg-1::after{
    background-color: rgba(70, 187, 235, 0.15);
    content: " ";
}
.kit-config-content-section .hmr-flex .container {
    padding-left: 0px;
}
.bg-lightbluetransparent {
    background-color: rgba(70, 187, 235, 0.15);
}
.kit-config-content-section .bg-lightbluetransparent {
    height: 390px;
}
.kit-config-header div {
    height: 82px;
}
.progressbar-text {
    height: auto !important;
}
.kit-config-header h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.kit-config-header h2 .glyphicon{
    font-size: 18px;
}
.kit-config-header p {
    font-size: 16px;
}
.kit-config-header .row {
    padding-left: 7px;
}
.kit-config-main, .kit-config-main-no-scroll {
    margin-top: 10px;
}
.kit-config-main, .kit-config-content-section {
    padding-bottom: 35px;
}
.kit-config-hero {
    background-color: #00CC66;
    height: 455px;
}
.kit-config-img {
    background-image: url(https://www.myhmrprogram.com/ProductMedia/FoodBoxImgs/HealthySolutionsKit2018new.png);
    height: 455px;
}
.kit-config-img-shakes {
    background-image: url(https://www.myhmrprogram.com/ProductMedia/FoodBoxImgs/HealthyShakes2018new.png);
}
#strength-bar {
    width: 82px;
    height: 82px;
    font-size: 28px;
    font-family: Texta-Bold;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: inherit;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.tooltip.bottom .tooltip-arrow {
    position: relative !important;
}
.tooltip.bottom {
    top: -10px !important;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #1E252C;
}
.tooltip-inner {
    background-color: #1E252C;
}
.tostep2_wrapper {
    margin-top: 20px;
}
.product-row-mobile {
    height: auto;
    padding: 25px 0px;
    margin: 0px;
    display: table;
    width: 100%;
}
@media (min-width: 320px) and (max-width: 768px) {
    .kit-config-content-section .bg-lightbluetransparent.hmr-flex {
        display: block;
        padding-left: 30px;
        height: auto;
        background: none;
        margin-bottom: 20px;
    }
    .kit-config-hero .contents {
        /* padding-top: 0px; */
        display: block;
    }
    .shake-details {
        padding-top: 13px;
    }
    .shake-selection-control, .tostep2_wrapper {
        margin-bottom: 20px;
        padding: 0px 30px;
    }
}
/* Kit Config CSS End */
/* Header CSS Start */
main {
    margin-top: 53px;
}
main#hmr_kit_config_step1 {
    margin-top: 13px;
}
#hmr_kit_config_step2 .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
}
.hmr-header {
    background-color: #FFFFFF;
    border-color: #5d6770;
    /* border: none; */
}
.hmr-header li a{
    font-family: Texta-Light;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: inherit;
    height: 53px;
}
.hmr-header .navbar-collapse li a {
    padding-left: 20px;
    padding-right: 20px;
}
.hmr-header li a:hover {
    border-bottom: 7px solid #46BBEB;
}
.navbar-brand img {
    width: 102px;
    height: 45px;
}
.navbar-brand {
    padding: 4px 0px;
}
.navbar-fixed-top{
    height: 53px;
}
.hmr-header .navbar-collapse li:nth-child(3):after {
    position: absolute;
    content: "";
    width: 0px;
    display: block;
    border-right: 1px solid #898C90;
    top: 14px;
    bottom: 11px;
    right: -0.05em;
}
[class^="hmr-icon-"] {
    display: inline-block;
    width: 1em;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    vertical-align: top;
    background-image: url(img/icon-sprite.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 400%;
    font-size: 1.85em;
    height: 30px;
    margin-top: -4px;
}
.hmr-icon-cart {
    background-position: -2em -1.1052631579em;
}
.hmr-icon-user {
    background-position: -3em -1.1052631579em;
}
.hmr-icon-search {
    background-position: -1em -1.1052631579em;
}
.navbar-toggle {
    border: none;
}
.no-collapse li {
    float: left;
}
/* Header CSS End */
/* Kit Config Step 3 start */
.step_3 .header-row {
    border-bottom: 1px solid #D0D3D4;
}
.step_3 h6 {
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 20px;
}
.step_3 .more-details-row {
    margin-top: 50px;
}
.step_3 .more-details-row .no {
    margin-left: 30px;
}
.step_3 .col-lg-7 .col-lg-5 h2 {
    margin-top: 0px;
}
.coaching_card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: #46BBEB;
    color: white;
}
.coaching_card.coaching-selected {
    background-color: #46BBEB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}
.coaching_card {
    height: 276px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D0D3D4;
    border-radius: 4px;
    text-align: center;
    width: 276px;
}
.step_3 .callout-btn {
    max-width: 276px;
    margin-top: 30px;
}
.text-11b a {
    font-family: Texta-Book;
    font-size: 16px;
    letter-spacing: .01em;
    color: #343E48;
}
.step_3 .text-11b {
    margin-top: 20px;
    letter-spacing: 0.01em;
}
.step_3 img {
    width: 100%;
}
.admin-container {
    margin-top: 30px;
}
@media(min-width: 320px) and (max-width: 768px) {
    .step_3 {
        padding: 0px 30px;
        margin-bottom: 50px;
    }
    .step_3 h2{
        font-size: 36px;
    }
    .step_3 .callout-btn {
        max-width: 100%;
    }
    .step_3 .more-details-row .no {
        margin-left: 0px;
        float: right;
    }
}
@media(min-width:768px) {
    .step_3 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
/* Kit Config Step 3 end */
/* Phase 2 Kit Config Start */
.phase-two-kit-config-wrapper .date-wrapper{
    margin-top: 10px;
}
.phase-two-kit-config-wrapper img{
    height: 56px;
}
.phase-two-kit-config-wrapper .order-summary-right-rail {
    margin-top: 50px;
}
.data-selector-wrapper {
    margin-left: 30px;
}
.phase-two-info {
    padding: 30px 0px;
    border-top: 1px solid #D0D3D4;
    border-bottom: 1px solid #D0D3D4;
    margin: 20px -15px 0px;
}
.phase-two-kit-config-wrapper .sub-header {
    color: #343E48 !important;
    font-family: Texta-Light;
    margin-bottom: 20px;
}
.product-categories-wrapper {
    display: flex;
    align-items: center;
    padding-top: 30px;
    border-bottom: 1px solid #D0D3D4;
    padding-bottom: 30px;
}
.view_item {
    padding: 20px 0px;
    border-bottom: 1px solid #D0D3D4;
    display: flex;
    align-items: center;
}
.phase-two-kit-config-wrapper .order-item .hmr-allcaps {
    color: #343E48;
    margin-bottom: 5px;
}
/* Phase 2 Kit Config End */
/* bootstrap animated hamburger starts */
.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.5s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}
/* bootstrap animated hamburger ends */
footer {
    /*background-image: url(img/Footer.jpg);*/
    background-image: url(https://www.myhmrprogram.com/ContentMedia/Master/Footer.jpg);
    height: 550px;
    color: white;
}
.section-header {
    font-size: 20px;
    font-family: Texta-Bold;
    letter-spacing: 0.14em;
    line-height: 28px;
    text-transform: uppercase;
}
footer a{
    font-size: 18px;
    font-family: Texta-Book;
    letter-spacing: 0.01em;
    color: white;
}
footer a:hover {
    color: #D0D3D4;
}
footer li {
    margin-top: 10px;
}
footer ul {
    list-style-type: none;
}
footer .container {
    padding-top: 70px;
}
footer .copyright, footer .copyright a {
    font-size: 14px;
    font-family: Texta-Book;
    letter-spacing: 0.01em;
    line-height: 20px;
}
footer hr {
    margin: 30px 0px 40px 0px;
}
footer .copyright:nth-of-type(2n) {
    margin-top: 20px;
}
footer .copyright:nth-child(2n+1) {
    border-top: 1px solid #FFFFFF;
    padding-top: 30px;
    margin-top: 30px;
}
footer img {
    width: 28px;
    height: auto;
    margin: 0px 7px 0px 0px;
}
footer .clear-desktop-only {
    clear: both;
    padding-top: 10px;
    padding-left: 3px;
}
footer .navbar-brand {
    padding: 0px;
}
.no-padding-desktop {
    padding: 0px;
}
/* HMR Foods Page CSS Start */
.hmr-foods-main {
    margin-top: 53px;
}
.bg-foodsnarihero {
    background-image: url(https://www.myhmrprogram.com/ProductMedia/FoodPage/FoodPageHero.jpg);
}
.hmr-foods-section {
    height: 450px !important;
    min-height: 450px;
}
.hmr-foods-section .row {
    display: flex;
    align-items: center;
}
.hmr-foods-filter {
    background-color: #F8F8F8;
    height: 75px;
}
.hmr-foods-filter-fixed{
    position: fixed;
    top: 53px;
    width: 100%;
    z-index: 10;
}
.hmr-foods-filter .container {
    padding: 0px;
}
.hmr-foods-filter .row div.hmr-allcaps {
    padding-top: 28px;
    height: 75px;
}
.hmr-foods-filter .row div.hmr-allcaps:nth-of-type(1n) {
    width: 142px;
}
.hmr-foods-filter .text-center .hmr-allcaps{
    margin: 0px auto;
    width: 80px !important;
}
.hmr-foods-filter .text-right .hmr-allcaps{
    float: right;
    width: 152px !important;
}
.hmr-foods-filter div.hmr-allcaps:hover {
    cursor: pointer;
    border-bottom: 10px solid #00CC66;
}
.hmr-foods-filter div.hmr-allcaps.selected {
    border-bottom: 10px solid #00CC66;
}
.hmr-foods-main p {
    font-size: 20px;
    line-height: 30px;
}
.hmr-food-section h2 {
    margin-top: 40px;
}
.hmr-foods-main .kit-config-main {
    margin-top: 40px;
}
.hmr-food-section .food-extra-info {
    font-family: Copernicus;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 30px;
}
.text-15.italic {
    font-size: 15px;
}
/* HMR Foods Page CSS End */
@media (min-width:320px) and (max-width:768px) {
    .navbar-default .navbar-collapse {
        background-color: #FFFFFF;
    }
    /* Foods */
    .hmr-foods-section {
        height: 275px !important;
        min-height: 275px !important;
    }
    .hmr-foods-section .bold-title {
        font-size: 14px;
    }
    .hmr-food-section .container {
        padding: 0px 40px;
    }
    .hmr-foods-filter .container {
        padding: 0px 15px;
    }
    .hmr-food-section .kit-config-main {
        padding: 15px;
    }
    .bg-foodsnarihero {
        background-image: url(https://www.myhmrprogram.com/ProductMedia/FoodPage/FoodPageHeroMobile.jpg);
        background-size: 100% 100%;
    }
    .hmr-foods-main p {
        font-size: 16px;
        line-height: 24px;
    }
    .hmr-foods-section .section-right {
        margin-top: 0px;
    }
    .hmr-foods-filter .row div.hmr-allcaps:nth-of-type(1n) {
        width: 60px;
    }
    .hmr-foods-filter .text-center .hmr-allcaps{
        width: 80px !important;
    }
    .hmr-foods-filter .text-right .hmr-allcaps{
        width: 45px !important;
    }
    /* Foods */
    footer {
        background-image: none;
        background-color: #F5F5F5;
        color: #343E48;
        height: auto;
    }
    footer a {
        color: #343E48;
    }
    footer ul {
        list-style-type: none;
    }
    footer .container {
        padding-top: 35px;
        padding-bottom: 50px;
    }
    footer hr {
        border-color: #95989A;
        margin: 30px 20px 40px 20px;
    }
    footer .clear-desktop-only {
        clear: none;
        padding-top: 0px;
    }
    footer .logos {
        min-height: 100px;
        border-bottom: 1px solid #D0D3D4;
        margin-bottom: 40px;
    }
    .no-padding-desktop {
        padding: 0px 15px;
    }
    footer .copyright:nth-child(2n+1) {
        border-top: none;
        padding-top: 10px;
    }
    footer .navbar-brand {
        padding-top: 7px;
    }
    .footer-legal-menu, footer .copyright:nth-of-type(2n) {
        margin-top: 40px;
    }
    main {
        margin-top: 50px;
    }
    .hmr_kit_config_step2 {
        margin-top: 53px;
    }
    .hmr_kit_config_step1 {
        margin-top: 0px;
    }
    .kit_config_nav_row {
        margin-top: 30px;
    }
    .bg-homehero {
        background-image: url(img/HomePageHeroMobile@2x.jpg);
    }
    .bg-cliniclandinghero {
        background-image: url(img/ClinicLandingHeroMobile@2x.jpg);
    }
    .hmr-cliniclanding-hero-section {
        min-height: 257px;
    }
    .bg-books {
        background-image: url(img/OrangeBookMobile@2x.png);
        background-position: center center;
    }
    .bg-foods {
        background-image: url(img/HealthySolutionsFoodMobile@2x.png);
    }
    .bg-physician {
        /*background-image: url(img/ClinicPhysicianMobile@2x_P.jpg);*/
        background-image: url(img/ClinicPhysicianMobile@2x.jpg);
    }
    .bg-lasagna {
        background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeMobile/LasagnaMobile.jpg);
    }
    .bg-supporthands {
        background-image: url(img/SupportHandsMobile.jpg);
    }
    .bg-sneakers {
        background-image: url(img/LeftSneakerMobile@2x.jpg);
    }
    .bg-program {
        background-image: url(img/PremierProgramMobile@2x.png);
    }
    .bg-diffapproach {
        background-image: url(img/DiffApproachCircles@2x.png);
        background-position: center center;
    }
    .bg-coachgirl {
        background-image: url(https://www.myhmrprogram.com/ContentMedia/HomeMobile/CoachPurpleMobile.png);
    }
    .bg-subscribe {
        background-image: url(img/SubscribeMobile@2x.png);
        background-position: 0px;
    }
    .bg-blueberry {
        background-image: url(img/BlueberryShakeMobile@2x.png);
    }
    .bg-usnews {
        background-image: url(img/USNewsMobile@2x.png);
    }
    .bg-coachingsolutions {
        background-image: url(img/CoachingWithFootnoteMobile@2x.png);
    }
    .bg-foodsshakes {
        background-image: url(img/ShakesFoodMobile@2x.png);
    }
    .bg-guidanceshake {
        background-image: url(img/ShakesBookMobile@2x.jpg);
    }
    .bg-rightsneakers {
        background-image: url(img/RightSneakerMobile@2x.jpg);
    }
    .bg-healthysolutions {
        background-image: url(img/GreenAppleMobile@2x.png);
        background-image: url(img/GreenAppleMobile2@2x.jpg);
    }
    .bg-healthyshakes {
        background-image: url(img/RedAppleMobile@2x.jpg);
    }
    .bg-plans {
        min-height: 300px;
    }
    .bg-zipcode {
        background-image: url(img/ZipCodeMobile@2x.jpg);
    }
    .hmr-zip-code-section, .bg-zipcode, .bg-professionals {
        min-height: 30vh;
        height: 30vh;
    }
    .hmr-zip-code-section .zip-code-content{
        padding: 0px 30px;
    }
    .desktop-only {
        display: none;
    }
    .hmr-page-section p, .hmr-page-section-plans p, .hmr-zip-code-section p,  .hmr-professionals-section p{
        margin-top: 20px;
    }
    .hmr-page-section {
        padding: 30px;
    }
    .hmr-paloalto-section {
        padding: 10px;
        min-height: 1200px;
    }
    /*.section-right {
        padding: 40px 0px 50px 50px;
        padding: 25px 0px 40px 40px;
    }*/
    .section-right-first {
        height: 350px;
    }
    .bg-coachgirl, .bg-physician, .bg-subscribe, .bg-lasagna, .bg-diffapproach, .bg-supporthands {
        background-position: 0;
    }
    .section-right {
        width: 85%;
    }
    .hmr-allcaps-container {
        float: none;
    }
    a.hmr-allcaps-carat {
        float: none;
        position: absolute;
    }
    .hmr-allcaps.hero-subtitle {
        font-size: 20px;
        line-height: 32px;
    }
    .hmr-hero-section .row:first-child {
        padding-top: 30px;
    }
    .hmr-hero-section .row {
        padding-left: 40px;
        padding-right: 40px;
    }
    .hmr-plans-hero-section {
        height: 258px;
    }
    .bg-planshero {
        background-image: url(img/PlansHeroMobile@2x.png);
    }
    .hmr-plans-container {
        padding: 10px 50px;
    }
    .hmr-data-card .row:first-child {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .hmr-data-card .row:last-child {
        margin-top: -10px;
    }
    .clinic-information-request-section p {
        font-size: 16px;
        line-height: 18px;
    }
    .clinic-information-request-section .btn-container, .bg-healthysolutions-info .btn-container {
        text-align: center;
    }
    .bg-healthysolutions-info .btn-container {
        float: none;
    }
    .bg-healthysolutions-info {
        align-items: center;
    }
    .kit-config-header {
        height: 62px;
    }
    .kit-config-header div{
        height: 62px;
    }
    .kit-config-main {
        /*margin-top: 72px;*/
    }
    .hmr-btn-xxsmall {
        line-height: 24px;
    }
    .kit-config-header h2 {
        font-size: 24px;
        font-family: Texta-Book;
        line-height: 20px;
    }
    .kit-config-header p {
        font-size: 12px;
        line-height: 10px;
        font-family: Texta-Book;
    }
    .kit-config-header h2 {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .kit-config-header .row {
        padding-left: 5px;
    }
    .kit-config-header .container {
        padding-left: 15px;
    }
    .kit-config-hero {
        height: 730px;
    }
    .shakes-hero {
        height: 520px;
    }
    .kit-config-img {
        height: 17.5em;
    }
    .kit-config-content-section .header, .kit-config-content-section .kit-config-sub-header{
        margin: 0px 30px;
    }
    .form-control:focus {
        border-color: #ccc;
        outline: 0;
        border-right: 1px solid #ccc;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #strength-bar {
        width: 62px;
        height: 62px;
        font-size: 20px;
    }
    .hmr-header li a  {
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-brand {
        padding: 2px 15px;
    }
    .hmr-header .no-collapse li a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .hmr-header .no-collapse {
        float: right;
        margin: 0px 0px 0px 0px;
        height: 50px;
    }
    .hmr-header li a:hover {
        border-bottom: none;
    }
    .hmr-header .navbar-collapse li a {
        border-bottom: 1px solid rgba(52, 62, 72, 0.25);
    }
    .hmr-header .navbar-collapse li {
        padding: 0px 40px;
    }
    .hmr-header .navbar-collapse li:last-child a{
        border-bottom: none;
    }
    .text-11b {
        font-size: 14px;
        line-height: 18px;
    }
    .best-diets-container-parent {
        bottom: -85px;
    }
    .btn-container, .link-container {
        margin-top: 20px;
    }
    .prod-card-wrapper {
        z-index: 999;
    }
    #step2Header {
        z-index: 1000;
    }
    .text-15.italic {
        font-size: 12px;
    }
}
@media (min-width:414px) and (max-width:768px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    /*.section-right {
        padding: 120px 0px 50px 75px;
    }*/
    .section-right-first {
        height: 375px;
    }
    .bg-coachgirl, .bg-physician, .bg-subscribe, .bg-lasagna {
        background-position: 0px -90px;
    }
    .bg-diffapproach {
        background-position: 0px -70px;
    }
    .bg-supporthands {
        background-position: 0 -56px;
    }
    .section-right-first {
        width: 85%;
    }
    .hmr-zip-code-section {
        min-height: 100vh;
        height: 100vh;
    }
}
@media (max-width:961px) {
    .bg-foods, .bg-foodsshakes {
        background-position: 0 0;
    }
    .bg-books {
        background-position: -13px 0;
    }
    /*.section-right {
        width: 75%;
    }*/
}
@media (max-width:320px) {
    .bg-books, .bg-foods, .bg-foodsshakes {
        background-position: -22px -3px;
    }
    .bg-coachgirl, .bg-physician, .bg-subscribe, .bg-lasagna, .bg-diffapproach, .bg-supporthands {
        background-position: -27px 0px;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .hmr-foods-section {
        height: 275px !important;
        min-height: 275px !important;
    }
    .hmr-foods-section .section-right {
        margin-top: 0px;
    }
    .product-card {
        /*width: 290px;*/
    }
    .product-img{
        /*width: 288px;
        height: 162px;*/
        height: auto;
    }
    .allergens-row h5 {
        font-size: 15px;
    }
    .card-row img {
        margin: 0px 0px;
    }
    .kit-config-header h2 {
        margin-top: 2px;
    }
    .kit-config-header .row {
        padding-left: 0px;
    }
    .tooltip.bottom {
        top: -3px !important;
    }
    .hmr-header .no-collapse li a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .best-diets-container img {
        width: 90px;
    }
    .best-diets-container-parent {
        bottom: -140px;
    }
    .hmr-hero-section {
        min-height: 110vh;
    }
    footer img {
        margin: 0px 2px 0px 0px;
    }
    footer .clear-desktop-only {
        padding-left: 0px;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    .hmr-foods-section .section-right {
        margin-top: 0px;
    }
    .product-card {
        /*width: 340px;*/
    }
    .product-img{
        /*width: 338px;*/
        height: 192px;
    }
    .allergens-row h5 {
        font-size: 18px;
    }
    .card-row img {
        margin: 0px 2px;
    }
    .kit-config-header h2 {
        margin-top: 10px;
    }
    .tooltip.bottom {
        top: -12px !important;
    }
    .hmr-header .no-collapse li a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .best-diets-container img {
        width: 90px;
    }
    .best-diets-container-parent {
        bottom: -80px;
    }
    .hmr-hero-section {
        min-height: 100vh;
    }
    footer img {
        margin: 0px 10px 0px 0px;
    }
    footer .clear-desktop-only {
        padding-left: 7px;
    }
    .details-row .hmr-allcaps {
        font-size: 13px;
    }
    .details-row .col-xs-12 {
        padding-right: 0px;
    }
    .coaching_card {
        height: 159px;
        width: 159px;
    }
    .card-title {
        font-size: 27px;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    .hmr-hero-section {
        min-height: 135vh;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape){
    .hmr-hero-section {
        min-height: 113vh;
    }
}
@media only screen and (min-device-width : 414px) and (max-device-width : 768px){
    .product-card {
        /*width: 373px;*/
    }
    .product-img{
        /*width: 371px;*/
        height: 215px;
    }
    .allergens-row h5 {
        font-size: 21px;
    }
    .card-row img {
        margin: 0px 3px;
    }
    .kit-config-header h2 {
        margin-top: 12px;
        font-size: 28px;
        font-family: Texta-Light;
    }
    footer img {
        margin: 0px 10px 0px 0px;
    }
    footer .clear-desktop-only {
        padding-left: 7px;
    }
    .coaching_card {
        height: 177px;
        width: 177px;
        z-index: 1000;
    }
}
@media (min-width:641px)  {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .section-right {
        /*padding: 50px 0px 50px 75px;*/
    }
    .section-right-first {
        height: 550px;
    }
}
@media (min-width:768px)  and (max-width:768px){
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .section-right {
        /*padding: 50px 0px 50px 75px;*/
    }
    .section-right {
        width: 75%;
    }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) {
    .hmr-foods-section {
        height: 950px;
    }
    .bg-foodsnarihero {
        background-position: 0px 0px;
        background-size: cover;
    }
    .hmr-foods-section .section-right {
        margin-top: 0px;
    }
    .hmr-header .navbar-collapse li {
        padding: 0px;
    }
    .hmr-header .navbar-collapse li a {
        border-bottom: none;
    }
    .bg-subscribe {
        background-position: 0 -500px;
    }
    .bg-coachgirl, .bg-lasagna, .bg-physician, .bg-diffapproach {
        background-position: 0 -700px;
    }
    .best-diets-container-parent {
        bottom: 0px;
    }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
    .best-diets-container-parent {
        bottom: -50px;
    }
    .hmr-hero-section .row {
        padding-left: 60px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .product-img {
        height: auto;
    }
}
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
    .bg-subscribe {
        background-position: 0 -450px;
    }
    .bg-coachgirl, .bg-lasagna, .bg-physician, .bg-diffapproach {
        background-position: 0 -650px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .hmr-header .navbar-collapse li a, .hmr-header .no-collapse li a{
        padding: 15px 10px;
    }
}
@media (min-width:769px) {
    .mobile-only {
        display: none;
    }
    .prod-card-wrapper.bg-grey {
        background: none;
    }
}
@media (min-width:961px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .section-right {
        /*padding: 175px 0px 150px 50px;
        padding: 120px 0px 150px 50px;*/
    }
    .section-right-first {
        height: 500px;
    }
    .hmr-page-section {
        height: 800px;
        align-items: center;
    }
    .hmr-zip-code-section, .hmr-professionals-section {
            display: flex;
            align-items: center;
    }
    h2 {
        font-size: 52px;
        line-height: 52px;
    }
    .cart-wrapper h2 {
        line-height: 73px;
        color: #1E252C;
    }
    h2.hero-title {
        font-size: 72px;
        /*line-height: 101px*/
    }
    p {
        line-height: 30px;
    }
    .kit-config-header p {
        line-height: 20px;
    }
    .hmr-page-section p, .hmr-page-section-plans p, .hmr-zip-code-section p, .hmr-professionals-section p {
        font-size: 20px;
        margin-top: 40px;
    }
    .hmr-professionals-section .text-11b, .hmr-data-section .text-11b {
        font-size: 16px;
    }
    .mobile-only {
        display: none;
    }
    h1 {
        font-size: 96px;
    }
    .kit-config-main {
        padding: 0px;
        padding-bottom: 35px;
    }
    .hmr-foods-section h2{
        margin-top: 0px;
        margin-bottom: 10px;
    }
}
@media (min-width:1500px)  {
    /*.bg-books, .bg-coachgirl, .bg-subscribe {
        background-position: 0;
    }*/
    .bg-lasagna {
        background-position: -190px 0px;
    }
    .hmr-page-section {
        height: 900px;
        align-items: center;
    }
    .bg-plans {
        min-height: 346px;
    }
    .hmr-plans-hero-section .container {
        margin-left: 20%;
    }
    .bg-coachgirl {
        background-position: -200px 0px;
    }
    .bg-subscribe {
        background-position: -200px 0px;
    }
}
input[type=text] {
    -webkit-appearance:none;
    box-shadow: none;
}
.bg-grey {
    background-color: #F5F5F5;
}
.bg-green {
    background-color: #00CC66;
}
.bg-lightblue {
    background-color: #46BBEB;
}
.bg-darkblue {
    background-color: #3F3961;
}
.bg-purple {
    background-color: #5F53A6;
}
.bg-coral {
    background-color: #FF7349;
}
.hmr-form-control {
    margin-top: 10px;
}
.hmr-form-control.vegetarian {
    margin-top: 0px;
    margin-bottom: 10px;
}
.hmr-form-control .form-control__label::before {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.hmr-form-control input[type=checkbox]~.form-control__label::before {
    border-radius: 3px;
    background-color: #FFFFFF;
    border: 1px solid #95989A;
}
.hmr-form-control input[type=checkbox].blue~.form-control__label::before {
    border: 1px solid #46BBEB;
}
.hmr-form-control input[type=checkbox].grey~.form-control__label::before {
    border: 1px solid #D0D3D4;
}
.hmr-form-control input[type=checkbox]:checked~.form-control__label::before {
    background-color: #1E252C;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22none%22%20stroke-width%3D%220%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M9.30237317,15.0575648%20L6.19035258,11.906109%20C5.93654914,11.6490893%205.93654914,11.2312677%206.19035258,10.9742481%20C6.44415601,10.7172285%206.85674929,10.7172285%207.11055273,10.9742481%20L9.76052091,13.6591145%20L16.1394473,7.19276471%20C16.3932507,6.9357451%2016.8045424,6.9357451%2017.0596474,7.19276471%20C17.3134509,7.44978432%2017.3134509,7.86760594%2017.0596474,8.12462555%20L10.2212718,15.0575648%20C10.1015286,15.1801434%209.93623098,15.25%209.76312402,15.25%20C9.59131862,15.25%209.426021,15.1801434%209.30237317,15.0575648%20Z%22%2F%3E%3C%2Fsvg%3E);
    border-color: #95989A;
}
.hmr-form-control input[type=checkbox].blue:checked~.form-control__label::before {
    background-color: #46BBEB;
    border-color: #46BBEB;
}
.hmr-form-control input[type=checkbox].grey:checked~.form-control__label::before {
    background-color: #1E252C;
    border-color: #D0D3D4;
}
.hmr-form-control input[type=radio]~.form-control__label::before {
    border-radius: 3px;
    background-color: #FFFFFF;
    border: 1px solid #95989A;
}
.hmr-form-control input[type=radio].blue~.form-control__label::before {
    border: 1px solid #46BBEB;
}
.hmr-form-control input[type=radio].grey~.form-control__label::before {
    border: 1px solid #D0D3D4;
}
.hmr-form-control input[type=radio]:checked~.form-control__label::before {
    background-color: #1E252C;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22none%22%20stroke-width%3D%220%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M9.30237317,15.0575648%20L6.19035258,11.906109%20C5.93654914,11.6490893%205.93654914,11.2312677%206.19035258,10.9742481%20C6.44415601,10.7172285%206.85674929,10.7172285%207.11055273,10.9742481%20L9.76052091,13.6591145%20L16.1394473,7.19276471%20C16.3932507,6.9357451%2016.8045424,6.9357451%2017.0596474,7.19276471%20C17.3134509,7.44978432%2017.3134509,7.86760594%2017.0596474,8.12462555%20L10.2212718,15.0575648%20C10.1015286,15.1801434%209.93623098,15.25%209.76312402,15.25%20C9.59131862,15.25%209.426021,15.1801434%209.30237317,15.0575648%20Z%22%2F%3E%3C%2Fsvg%3E);
    border-color: #95989A;
}
.hmr-form-control input[type=radio].blue:checked~.form-control__label::before {
    background-color: #46BBEB;
    border-color: #46BBEB;
}
.hmr-form-control input[type=radio].grey:checked~.form-control__label::before {
    background-color: #1E252C;
    border-color: #D0D3D4;
}
.hmr-form-control .form-control__label.heading::before {
    top: 7px;
}
.hmr-form-control .form-control__label {
    display: inline-block;
    position: relative;
    float: none;
    margin-bottom: 0;
    padding: 2px 0 1px 35px;
    max-width: none;
    font-weight: normal;
}
.hmr-form-control input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.no-padding {
    padding: 0px !important;
}
.stick-left {
    margin-left: 0px;
}
.stick-right {
    margin-right: 0px;
}
/* product modal css */
.hmr-product-modal button.close {
    font-family: Texta-Thin;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #5d6770;
    border-radius: 5px;
    padding: 0px 7px 3px 7px;
    color: #1e252c;
    display: inline-block;
    letter-spacing: .01em;
    vertical-align: top;
    cursor: pointer;
    font-weight: normal;
    opacity: 1;
    margin: 20px 20px 5px 0px;
    z-index: 2000000;
    position: relative;
}
.hmr-product-modal-content {
    border: 0.5pt solid #C2C6C9;
    border-radius: 4px;
    box-shadow: none;
}
.modal-backdrop.in {
    filter: alpha(opacity=90);
    opacity: 0.9;
}
.modal-backdrop {
    background-color: #F5F5F5;
}
.hmr-prod-modal-header {
    border: none;
}
.hmr-prod-modal-body img {
    width: 100%;
    margin-top: 60px;
}
.hmr-prod-modal-body .separator {
    margin: 0px 10px;
}
.nutrition-prod-name {
    margin-top: 25px;
    margin-left: 50px;
}
.hmr-prod-nutrition-modal .hmr-desc-text {
    margin-bottom: 5px;
}
.nutrition-wrapper{
    margin-bottom: 22px;
    margin-top: 21px;
    margin-left: 36px;
    padding-right: 60px;
}
.ingredients-wrapper{
    margin-bottom: 22px;
    margin-top: 21px;
    margin-left: 50px;
    padding-right: 90px;
}
@media (min-width:320px) and (max-width:768px) {
    .hmr-product-modal-dialog {
        margin: 0px;
    }
    .hmr-prod-modal-body img {
        margin-top: -20px;
    }
    .hmr-product-modal-content {
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    .hmr-prod-modal-body {
        padding-bottom: 0px;
    }
    .hmr-prod-modal-body .prod-details-links {
        margin: 25px 0px;
        text-align: center;
    }
    .hmr-prod-modal-body .prod-more-details-wrapper {
        margin: 0px -15px;
        background-color: #F5F5F5;
        padding: 40px;
    }
    .prod-more-details-wrapper .row {
        display: flex !important;
        align-items: baseline;
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .prod-more-details-wrapper .hmr-desc-text {
        margin-top: 40px;
    }
    .nutrition-wrapper .hmr-desc-text {
        margin-top: 0px;
        padding-left: 0px;
    }
    .nutrition-wrapper .row {
        margin-bottom: 15px;
    }
    .nutrition-wrapper, .ingredients-wrapper {
        margin: 0px !important;
    }
}
@media (min-width: 1200px)  {
    .hmr-product-modal-dialog, .hmr-product-modal-content {
        width: 1100px;
        max-height: 95%;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
         .hmr-product-modal.in {
            display: flex !important;
            height: 100%;
            align-items: center;
        }
        .hmr-product-modal-dialog {
            margin-top: 0px;
        }
    }
    .prod-desc-modal {
        min-height: 459px;
    }
    .prod-nutrition-modal {
        min-height: 159px;
    }
    .prod-desc-modal .prod-img-wrapper {
        border-right: 1px solid #D0D3D4;
        height: 359px;
        display: flex;
        align-items: baseline;
        margin-top: 30px;
    }
    .prod-desc-modal .prod-details-wrapper {
        padding: 0px 60px 0px 50px;
    }
    .prod-desc-modal .prod-details-wrapper h4{
        margin: 45px 0px 50px 0px;
    }
    .prod-desc-modal .prod-add-details {
        margin-top: 85px;
    }
}
/* product modal css end */

/* cart css start */
.cart-wrapper .container{
    margin-bottom: 100px;
}
.cart-wrapper .sub-header {
    line-height: 20px;
    color: #7C878E;
}
.cart-item-row {
    border-bottom: 1px solid #D0D3D4;
    padding-top: 45px;
    padding-bottom: 15px;
}
.cart-column-header {
    padding-bottom: 20px;
    border-bottom: 1px solid #D0D3D4;
}
.cart-item-row img {
    width: 150px;
    height: auto;
}
.cart-item-details-row {
    margin-top: 20px;
}
.cart-item-details-row.additional {
    margin-top: 25px;
}
.cart-item-all-row {
    display: flex;
    align-items: baseline;
}
.cart-item-row .item-counter-group {
    padding-top: 12px;
}
.cart-all-details {
    padding-right: 0px;
}
.cart-wrapper #product_qty {
    padding-top: 4px;
}
.cart-wrapper .btn {
    padding-top: 10px !important;
}
.top-m-auto {
    margin-top: auto;
}
.col-quantity {
    margin-left: 55px;
}
.col-price {
    margin-left: 8px;
}
.update-cart-row {
    margin-top: 20px;
}
.cart-item-all-row .btn {
    border-radius: 0px !important;
}
@media (max-width: 768px) and (min-width: 320px) {
    #included_items .cart-item-row {
        padding: 40px;
    }
}
/* cart css end */

/* right rail css start */
.order-item {
    margin-bottom: 10px;
}
.order-summary-right-rail {
    padding-left: 54px;
    padding-right: 30px;
}
.order-summary-right-rail .sub-header {
    margin-bottom: 20px;
}
.text-green {
    color: #00cc66 !important;
}
.order-item .hmr-desc-text, .no-right-padding {
    padding-right: 0px;
}
.order-item .hmr-desc-text {
    line-height: 25px;
}
.order-item .hmr-desc-text {
	font-size: 18px;
}
.bold-display-lg {
    font-size: 20px;
    font-family: Texta-Bold;
    letter-spacing: 0.01em;
    line-height: 28px;
}
.order-total-row {
    border-top: 1px solid #D0D3D4;
    padding-top: 10px;
}
.callout-btn {
    font-size: 24px;
    font-family: Texta-Bold;
    letter-spacing: 0.02em;
    line-height: 33px;
    color: #FFFFFF;
    width: 100%;
    height: 54px;
    border-radius: 5px;
}
.cart-wrapper .callout-btn {
/*    margin: 20px 0px;*/
}
.cart-wrapper .callout-btn.top {
	margin: 10px 0px;
}
.callout-btn.green, .btn.green {
    background-color: #00CC66;
}
.cc-terms-wrapper {
    margin: 20px 0px;
}
.cc-terms-wrapper .hmr-allcaps{
    margin-bottom: 5px;
}
.update-cart-row .callout-btn {
    width: 200px;
}
.hmr-lg-text {
    font-size: 30px;
    font-family: Texta-Book;
    letter-spacing: 0em;
    line-height: 30px;
}
.promos-row, .discounts-row {
    border-top: 1px solid #D0D3D4;
    padding-top: 10px;
    margin-top: 20px;
}
.show-hand {
    cursor: pointer;
}
#promo_code, #additional_discounts {
    width: 100%;
    height: 54px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 20px;
}
.promos-details .callout-btn, .discounts-details .callout-btn {
    margin-top: 0px;
}

/* right rail css end */

/* overlay css start */
#overlay, .overlay-loader {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
#overlay, .overlay-loader {
    z-index: 100000;
}
#overlay, .overlay-loader {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    position: relative;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
#overlay #overlay-bg {
    background: #f2f2f2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 500ms linear background-color;
    opacity: 0.9;
}
#overlay-bg {
    z-index: 200000;
}
#overlay #overlay-content, .overlay-loader .overlay-content {
    position: relative;
}
#overlay-content, .overlay-content {
    padding: 3em;
}
#overlay-content, .overlay-content {
    z-index: 300000;
}
/* overlay css end */

.filter-title {
    /*margin-top: 30px;*/
    margin-bottom: 30px;
}
.filter-desc {
    margin-bottom: 50px;
}

/* checkout css start */
.checkout_box {
	border: 1px solid #EDEDED;
	border-radius: 4px;
	padding: 20px 40px 40px 40px;
}
.checkout-wrapper .container {
	margin-top: 100px;
	margin-bottom: 100px;
}
form .texta-book-f, .form-horizontal .texta-book-f {
	text-align: left;
	font-weight: normal;
	padding-top: 12px;
}
form .text-right, .form-horizontal .text-right {
	text-align: right;
}
.checkout_box .form-control__label{
	font-size: 18px;
    padding-top: 0px;
    letter-spacing: 0.01em;
    line-height: 25px;
}
.checkout-wrapper .form-horizontal {
	margin-top: 40px;
}
.checkout_box input {
	height: 45px;
    font-size: 20px;
    border: 1px solid #D0D3D4;
    box-shadow: none;
    padding: 12px 20px;
}
.checkout-wrapper .form-group, #payment_entry_form .form-group{
	/*margin-top: 25px;*/
    /*margin-bottom: 25px;*/
	margin-bottom: 10px;
}
.checkout_boxes {
	margin-top: 30px;
}
.payment-entry.checkout_boxes, #order_review_wrapper .contact_info.checkout_boxes {
    margin-top: 0px;
}
.checkout_box .sub-header, .light-grey {
	color: #7D868C;
}
.cart_preview .total_price {
	padding-left: 50px;
}
.checkout-wrapper .col-quantity {
	margin-left: 20px;
}
.col-quantity-value {
	padding-left: 40px;
}
.checkout-wrapper .cart-item-row {
	padding-bottom: 45px;
}
.cart-item-row.last {
	border: none;
	padding-bottom: 5px;
}
.shipping-address a {
	margin-top: 15px;
}
.shipping_method_box, .default-form {
	display: inline-block;
	width: 100%;
}
.shipping_method  {
	min-height: 65px;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #D0D3D4;
    border-radius: 4px;
	cursor: pointer;
}
.shipping_method:hover, .shipping_method.active {
	background-color: rgba(168, 232, 248, 0.22);
}
.shipping_method .form-control__label {
	font-size: 20px;
}
.form-control__label {
	cursor: pointer;
}
label.use_shipping {
	font-size: 20px !important;
    color: #5D6770;
    font-family: Texta-Book;
}
.payment-entry img, .payment_info img {
	width: 56px;
    height: 35px;
}
.payment-entry img {
	margin-left: 15px;
    vertical-align: super;
}
.payment-entry img.unselect {
    opacity: 0.2;
}
.payment_info img {
	margin-top: 10px;
}
.default-form.no-label input {
	margin-top: 25px;
}
.stored_payment {
	margin-top: 10px;
}
.stored_payment img{
	vertical-align: middle;
    width: 35px;
    height: auto;
    margin-right: 10px;
}
.stored_payment label::before {
	top: 6px !important;
	width: 16px !important;
	height: 16px !important;
}
.stored_payment .form-control__label {
	padding-left: 15px;
	line-height: 25px;
}
.stored_payment .form-control__label.new_card {
	padding-left: 30px;
}
.new_credit_card_form {
	margin-top: 10px;
}
.bold-title {
	font-size: 18px;
	font-family: Texta-Bold;
	line-height: 25px;
	letter-spacing: 0.01em;
}
.contact_info .col-lg-4 {
	margin-top: 20px;
	word-wrap: break-word;
}
.contact_info a, .payment_info a {
	margin-top: 10px;
}
.payment_info [class*='col-lg'] {
	margin-top: 15px;
}
.agree_terms_wrapper .form-control__label {
	padding-top: 0px !important;
}
.agree_terms_wrapper, .kit_info {
	margin-top: 20px;
}
.kit_info {
	text-align: justify;
}
.checkout_box select {
	-webkit-appearance: none;
    -moz-appearance: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: Texta-Book;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .01em;
    height: 45px;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 15px;
    width: 100%;
}
.checkout_box .glyphicon {
	position: absolute;
    top: 57px;
    right: 30px;
}
.no-left-margin {
	margin-left: 0px !important;
}
.hmr-address-modal h2 {
    margin-left: 40px;
    margin-top: 0px;
}
.addresses-row {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.addresses-row .btn {
    margin: 10px 0px 40px 0px;
    width: 145px;
    line-height: 20px;
    padding: 6px 12px;
}
#billing_addressBook_toggle_link {
    margin-top: 10px;
}
.unauthorized_payment_modal .modal-dialog-close {
    padding: 20px 50px;
}
.no-padding-label {
    padding: 0px 0px 0px 0px !important;
}
.agree_terms_wrapper_row {
    padding: 30px 0px;
}
@media (min-width: 320px) and (max-width: 728px) {
    .checkout-wrapper .container {
        margin-top: 65px;
        margin-bottom: 20px;
    }
    #shippingAddressForm .form-group, #billingAddressForm .form-group,
    #order_review_wrapper .contact_info .col-lg-4,
    #order_contact_information_wrapper .contact_info .col-lg-4 {
        padding-left: 0px;
    }
    #shippingAddressForm .form-group, #billingAddressForm .form-group{
        padding-right: 0px;
    }
    #billingForm .text-right {
        text-align: left !important;
    }
    .checkout-wrapper .checkout_box {
        border: none;
        border-bottom: 1px solid #D0D3D4;
        border-radius: 0px;
    }
    .checkout-wrapper .checkout_boxes {
        margin-top: 0px;
    }
    .checkout-wrapper .order-summary-right-rail {
        padding: 10px 0px 10px 40px;
        padding-right: 55px;
    }
    .checkout-wrapper.order-confirmation-wrapper .order-summary-right-rail {
        padding: 10px 0px 10px 20px;
        padding-right: 55px;
    }
    .order-view-wrapper .order-summary-right-rail {
        padding: 10px 0px 10px 5px;
        padding-right: 30px;
    }
    .cart-wrapper.cart_preview {
        /* background-color: #F5F5F5; */
    }
    #order_items_wrapper .cart-item-all-row, .cart-page .cart-item-all-row {
        display: block;
    }
    #order_items_wrapper .cart-item-all-row .col-lg-2, .cart-page .cart-item-all-row .col-lg-2 {
        text-align: center;
    }
    #order_items_wrapper .cart-item-row img, .cart-page .cart-item-row img {
        width: 225px;
    }
    .checkout-wrapper .cart-item-row, .cart-page .cart-item-row {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .checkout-wrapper .cart-item-row.last, .cart-page .cart-item-row.last {
        padding-bottom: 0px;
    }
    #order_items_wrapper .col-lg-5, .order-confirmation-wrapper #order_summary_wrapper {
        margin-top: 20px;
    }
    .order-confirmation-wrapper #order_summary_wrapper .checkout_box {
        border-bottom: none;
    }
    .cart-all-details {
        padding-right: 15px;
    }
    .cart-page {
        padding: 0px 30px;
    }
    .mobile-price {
        padding-top: 25px;
    }
    .cart-page .order-summary-right-rail {
        padding-left: 0px;
        padding-right: 15px;
        margin-top: 30px;
    }
    .nutrition-prod-name {
        margin-left: 5px;
    }
    .hmr-legal-lang-container {
        padding: 20px 40px;
    }
    /* .legal-lang-checkbox .hmr-form-control input[type=checkbox].blue~.form-control__label::before {
        margin-top: 320px;
    } */
    .unauthorized_payment_modal .ui-loader-error-msg {
        padding: 0px 30px;
        font-size: 24px;
    }
}
/* checkout css end */
/* order confirmation start */
.order-confirmation-wrapper .section-header {
	letter-spacing: 0em;
	text-transform: none;
}
.order-confirmation-wrapper .container {
	margin-top: 70px;
}
.order_details .col-lg-12 {
	margin-top: 10px;
}
.order-confirmation-wrapper .order-summary-right-rail .sub-header {
	line-height: 36px;
}
/* order confirmation end */
/* my account start */
.my_account_hero {
    background-color: #5F53A6;
    height: 175px;
    display: flex;
    align-items: center;
}
.my_account_wrapper {
    margin-bottom: 50px;
    margin-top: 20px;
}
.my_account_nav_section .sub-header {
    color: #7D868C;
    padding-left: 35px;
}
.my_account_nav_section .text-left {
    font-weight: bold;
}
.my_orders .text-left {
    font-weight: normal;
}
.my_account_wrapper .checkout_box {
    padding: 20px;
}
.my_account_wrapper .item, .my_account_wrapper .sign-out{
    font-family: texta-Light;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    line-height: 23px;
    color: #1E252C;
    font-size: 16px;
    margin-bottom: 20px;
}
.my_account_wrapper .item:hover, .my_account_wrapper .sign-out:hover, .my_account_wrapper .item.selected{
    font-weight: bold;
    color: #46BBEB;
    cursor: pointer;
}
.my_account_wrapper .sign-out {
    margin-top: 20px;
    margin-bottom: 40px;
}
.change_password .default-form div {
    margin-bottom: 10px;
}
.my_order_table_header {
    padding-left: 20px;
    margin-top: 20px;
}
.my_account_wrapper .sub-header .hmr-allcaps {
    margin-top: 20px;
}
.my_orders .hmr-allcaps {
    margin-top: 5px;
}
.rotate-180 {
    /* Safari */
    -webkit-transform: rotate(-180deg);

    /* Firefox */
    -moz-transform: rotate(-180deg);

    /* IE */
    -ms-transform: rotate(-180deg);

    /* Opera */
    -o-transform: rotate(-180deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}
#shippingAddressModal .checkout_box {
    border: none;
    margin-top: -40px;
    padding: 20px 40px 40px 40px;
}
#shippingAddressModal{
    z-index: 900000000;
}
#shippingAddressModal .hmr-btn-xxsmall {
    padding-top: 4px;
}
.default_selectors_wrapper {
    margin: 20px 0px;
}
.cancel-dialog {
    margin-left: 30px;
}
.submit_wrapper {
    margin-top: 20px;
}
label.form-control__label[disabled] {
    opacity: 0.9;
    cursor: not-allowed;
}
#personalInfoEditForm .checkout_box{
    padding-bottom: 40px;
    margin-top: 20px;
}
@media(min-width: 320px) and (max-width: 728px) {
    .myaccount_nav_wrapper{
        padding-left: 35px;
        padding-right: 35px;
        position: absolute;
        background: white;
        z-index: 1;
        padding-bottom: 40px;
    }
    .myaccount_nav_wrapper.active{
        border-bottom: 1px solid #D0D3D4;
        box-shadow: 0px 10px 9px -9px #000000;
    }
    .myaccount_nav_wrapper .item {
        border-bottom: 1px solid #343E48;
        padding-bottom: 20px;
        color: #1E252C;
    }
    .myaccount_nav_wrapper .item:last-child {
        border: none;
    }
    .my_account_wrapper .sign-out {
        margin-bottom: 20px;
        border-bottom: 1px solid #343E48;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .myaccount_nav_wrapper .hmr-allcaps {
        font-size: 16px;
        padding-bottom: 20px !important;
        border-bottom: 1px solid #46BBEB;
    }
    .my_account_nav_items {
        margin-bottom: -40px;
    }
    .my_account_wrapper .col-lg-9 {
        padding-top: 76px !important;
    }
    #shippingAddressModal [class*='col-lg'] {
        padding-left: 0px;
        padding-right: 0px;
    }
    .my_account_wrapper .checkout_box {
        border-radius: 0px;
    }
    #personalInfoEditForm .hmr-allcaps-container {
        margin-left: 20px;
    }
}
/* my account end */
/* button loading */
.hmr-button-loading {
    display:inline-block;
    font:normal normal normal 14px/1;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
    background-color: transparent;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    border-left: 2px solid #46BBEB;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
.hmr-button-loading-inverse {
    display:inline-block;
    font:normal normal normal 14px/1;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
    background-color: transparent;
    border-top: 2px solid #46BBEB;
    border-right: 2px solid #46BBEB;
    border-bottom: 2px solid #46BBEB;
    border-left: 2px solid #FFF;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
/* button loading end */
/* header display */
[class^=hmr-icon-] {
    display: inline-block;
    width: 1em;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    vertical-align: top;
    background-image: url(https://www.myhmrprogram.com/ContentMedia/Master/IconSprite.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 400%;
    font-size: 1.325em;
    height: 30px;
}
.hmr-icon-cart {
    background-position: -2em -1.1052631579em;
}
.hmr-icon-user {
    background-position: -3em -0.90em;
}
.hmr-cart-img-wrapper img {
    max-width: 18px;
    width: 18px;
    vertical-align: baseline;
}
.hmr-remove-button-placeholder{
    min-width: 63px;
    text-align: center;
}
/* header display end */
/* included items modal css start */
#included_items h2, .cc-terms-wrapper .hmr-product-modal h2{
    padding-left: 40px;
    padding-top: 0px;
    margin-top: -5px;
}
#included_items h2 {
    font-size: 36px;
}
.included_item {
    margin-top: 10px;
}
#included_items .cart-item-row, .cc-terms-wrapper .hmr-product-modal .cart-item-row {
    padding-top: 5px;
    padding-bottom: 15px;
}
@media(min-width:768px) {
    #included_items .cart-item-row, .cc-terms-wrapper .hmr-product-modal .cart-item-row {
        margin-left: 30px;
        margin-right: 30px;
    }
    .included_items_wrapper {
        max-height: 400px;
        overflow-y: auto;
        margin-bottom: 40px;
    }
}
/* included items modal css end */
/* error display start */
input.error, select.error {
    border: 1px solid #ff7349;
}
label.error {
    position: absolute; /*keep if we want inline errors*/
    display: table; /*keep if we want inline errors*/
    color: #ff7349;
}
.italic.error {
    color: #ff7349;
}
#chgPwdMessage {
    position: relative;
    margin: 20px 0px -20px 0px;
}
#changePasswordForm label.error {
    position: relative;
}
@media(min-width:768px) {
    .error-row{
        padding: 20px 0px;
        margin: 1rem auto;
        max-width: 575px;
    }
}
.error-row {
    padding: 10px 0px;
    margin: 1rem auto;
    max-width: 575px;
}
.form-error {
  padding: 0px;
}
.form-error label {
    text-align: center;
    font-family: Texta-Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .01em;
    background-color: #FF7349;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
/* error display end */
/* checkout progress bar */
#billingForm .hmr-form-control {
    margin-top: 0px;
}
.checkout-progress-bar .subheader {
    background-color: #F5F5F5;
    position: fixed;
    clear: both;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 15px 0px;
}
.checkout-progress-bar .subheader .shipping,
.checkout-progress-bar .subheader .payment,
.checkout-progress-bar .subheader .review {
    padding-left: 0;
    padding-right: 0;
}
.checkout-progress-bar .subheader .steps-bar {
    width: 100%;
    padding: 5px 0 5px 0;
}
.checkout-progress-bar .subheader .steps-bar div.shipping:after,
.checkout-progress-bar .subheader .steps-bar div.payment:after {
    content: "";
    display: block;
    border-top: 1px solid #343E48;
    width: auto;
    margin-left: 125px;
    margin-top: 16px;
}
.checkout-progress-bar .subheader .steps-bar .step-text {
    font-family: 'Texta-Book';
    font-size: 14px;
    letter-spacing: .14em;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 15px;
    text-align: left;
}
.checkout-progress-bar .subheader .steps-bar .numberCircle {
    width: 25px;
    height: 25px;
}
.checkout-progress-bar .subheader .steps-bar .numberCircle img {
    width: 25px;
    height: 25px;
}
.checkout-progress-bar .subheader .steps-bar .checkCircle {
    width: 25px;
    height: 25px;
}
.checkout-progress-bar .subheader .steps-bar .checkCircle img {
    width: 25px;
    height: 25px;
}
@media (max-width: 480px) {
    .checkout-progress-bar .subheader .steps-bar .steps {
        padding-left: 0;
        margin-left: 55px;
    }
}
/* checkout progress bar end */
/* supplemental utility classes */
.capitalize{
    text-transform: capitalize;
}
.no-top-margin{
    margin-top: 0px;
}
.margin-top-15{
    margin-top: 15px;
}
/* end supplemental utility classes */
/* loader dots */
.hmr-loader {
    text-align: center;
    padding: 0rem 1rem;
    display: inline-block;
}
.hmr-loader__dots {
    width: 6.25rem;
    min-height: 1.375rem;
    padding: 0;
    margin: 0 auto;
    display: none;
    font-size: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.hmr-loader__dots._show {
    display: block;
}
.hmr-loader__dots>div {
    background-color: #46BBEB;
    border-radius: 100%;
    display: inline-block;
    width: .813rem;
    height: .813rem;
    margin: 0;
    opacity: .7;
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-left: .813rem;
}
.hmr-loader__dots>div.dot-c {
    background-color: #5681C2;
}
.hmr-loader__dots>div.dot-r {
    background-color: #7979B9;
}
.hmr-loader__dots>div:first-child {
    margin-left: 0;
}
.hmr-loader__dots .dot-l {
    -webkit-animation: beat 1.1s ease-in-out .1s infinite;
    animation: beat 1.1s ease-in-out .1s infinite;
}
.hmr-loader__dots .dot-c {
    -webkit-animation: beat 1.1s ease-in-out .3s infinite;
    animation: beat 1.1s ease-in-out .3s infinite;
}
.hmr-loader__dots .dot-r {
    -webkit-animation: beat 1.1s ease-in-out .5s infinite;
    animation: beat 1.1s ease-in-out .5s infinite;
}
@-webkit-keyframes beat {
    20% {
        opacity: 1;
        -webkit-transform: scale(1.307);
        transform: scale(1.307);
    }

    40% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes beat {
    20% {
        opacity: 1;
        -webkit-transform: scale(1.307);
        transform: scale(1.307);
    }

    40% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* loader dots */
.legal-lang-checkbox {
    margin-top: -30px;
}
.modal-open {
    position: fixed;
    width: 100%;
}
/* order view css start */
.order-view-wrapper.cart-wrapper .edit-foods-btn-wrapper .btn {
    padding-top: 0px !important;
}
.order-view-wrapper.cart-wrapper .btn {
    padding-top: 6px !important;
}
.edit-foods-btn-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 768px) {
    .order-view-wrapper .view_item {
        padding: 20px 40px;
    }
    .order-view-wrapper .date-wrapper, .order-view-msg, .edit-foods-btn-wrapper {
        padding: 0px 40px;
    }
    .order-view-wrapper .contact_info .col-lg-4 {
        padding-left: 0px;
    }
    .order-view-wrapper h2{
        padding: 0px 35px;
    }
    .phase-two-kit-config-wrapper.order-view-wrapper .order-summary-right-rail {
        padding: 10px 0px 10px 40px;
        padding-right: 55px;
    }
}
/* order view css start */
select::-ms-expand {
    display: none;
}
/* submenu css start */
.dropdown-item{
    display: inline-block;
    padding: 15px;
    width: 100%;
}
.dropdown-item:hover{
    border-bottom: none !important;
    font-weight: bold;
    text-decoration: none;
}
.dropdown-menu{
    min-width: 260px;
}
.userNavbar-btn{
    height: 53px;
    padding: 0px 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
}
.userNavbar-divider{
    height: 0px;
}
/* submenu css end */
