.OCMS-Edit * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.OCMS-Edit .pg * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.OCMS-Edit .pg .ocms-content-panel,
.OCMS-Edit .pg .ocms-content-panel *,
.OCMS-Edit .pg .ocms-content-panel-item,
.OCMS-Edit .pg .ocms-content-panel-item * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.ocmshintMargin {
    margin-top: -19px;
    margin-bottom: -30px;
}
tr.ocmsEditorSubtitle td{
    font-weight: bold;
    text-decoration: underline;
}
.navbar-fixed-top {
    top: 37px !important;
    z-index: 0;
}
main {
    margin-top: 150px;
}
