<apex:page showHeader="true" standardStylesheets="false" controller="CoachSessionCalendarController" docType="html-5.0" action="{!GetCurrentUserDetails}">
    <script src="{!URLFOR($Resource.JCalendar, '/CalendarLib/jquery-2.1.4.min.js')}"></script>
    <script src="{!URLFOR($Resource.JCalendar, '/CalendarLib/moment.js')}"></script>
    <script src="{!URLFOR($Resource.JCalendar, '/CalendarLib/fullcalendar-3.1.0/fullcalendar.min.js')}"></script>
    <link href="{!URLFOR($Resource.JCalendar, '/CalendarLib/fullcalendar-3.1.0/fullcalendar.min.css')}" rel="stylesheet" />
    <link href="{!URLFOR($Resource.JCalendar, '/CalendarLib/fullcalendar-3.1.0/fullcalendar.print.css')}" rel="stylesheet" media="print"  />

    <style>
        .dataCol {
            width: 1% !important;
        }
        .CalendarHead {
            text-align: center;
            font-size: initial;
            background-color: #1797C0;
            padding: 5px;
            color: White;
        }
    </style>
<body>
    <script type="text/javascript">
        var CoachId;
        var ProgramId;
        var minDate;
        var maxDate;

        function getEventData(minDate, maxDate) {
            //prepare parameter to send coach Id & program type
            param = CoachId+'::'+'Phase1';
            // call apex method remotly to retrieved event data from database

            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.CoachSessionCalendarController.eventdata}', param,
                // controller and method names
                function(result, event) {
                    if(event.status) {
                        evt =  JSON.parse(result);
                        $('#calendar').fullCalendar({   // html element and library name
                            events: evt ,

                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,basicWeek,basicDay,listMonth'
                            }, //header end

                            viewRender : function(currentView){
                                // Past
                                console.clear();
                                if(minDate != null && maxDate != null) {
                                    if (minDate >= currentView.start && minDate <= currentView.end) {
                                        console.log('In past if');
                                        $("#calendar .fc-prev-button").prop('disabled', true);
                                        $("#calendar .fc-prev-button").addClass('fc-state-disabled');
                                    }
                                    else {
                                        console.log('In past else');
                                        $("#calendar .fc-prev-button").removeClass('fc-state-disabled');
                                        $("#calendar .fc-prev-button").prop('disabled', false);
                                    }
                                    // Future
                                    if (maxDate >= currentView.start && maxDate <= currentView.end) {
                                        console.log('In future if');
                                        $("#calendar .fc-next-button").prop('disabled', true);
                                        $("#calendar .fc-next-button").addClass('fc-state-disabled');
                                    }
                                    else {
                                        console.log('In future else');
                                        $("#calendar .fc-next-button").removeClass('fc-state-disabled');
                                        $("#calendar .fc-next-button").prop('disabled', false);
                                    }
                                }

                            }, //viewRender end

                           eventLimit: true,
                       });  //fullcalendar ends
                    }//end if
                    else if(event.type === 'exception') {
                        console.log(event.message);
                    }
                    else {
                        console.log(event.message);
                    }
                },
                {
                    escape: false
                }
            );
        }//function end


        // Function to load calendar for phase 2 program
        function getEventData1(minDate, maxDate) {

            param=CoachId+'::'+'Phase2';

            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.CoachSessionCalendarController.eventdata}', param,  // records are retrieved from soql database

                function(result, event){
                    if(event.status) {
                        evt =  JSON.parse(result);
                        $('#calendar1').fullCalendar({       // html element and library name
                            events: evt ,

                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,basicWeek,basicDay,listMonth'
                            },

                            viewRender: function(currentView){
                                if(minDate != null && maxDate != null) {
                                    //Past
                                    if (minDate >= currentView.start && minDate <= currentView.end) {
                                        $("#calendar1 .fc-prev-button").prop('disabled', true);
                                        $("#calendar1 .fc-prev-button").addClass('fc-state-disabled');
                                    }
                                    else {
                                        $("#calendar1 .fc-prev-button").removeClass('fc-state-disabled');
                                        $("#calendar1 .fc-prev-button").prop('disabled', false);
                                    }
                                    // Future
                                    if (maxDate >= currentView.start && maxDate <= currentView.end) {
                                        $("#calendar1 .fc-next-button").prop('disabled', true);
                                        $("#calendar1 .fc-next-button").addClass('fc-state-disabled');
                                    }
                                    else {
                                        $("#calendar1 .fc-next-button").removeClass('fc-state-disabled');
                                        $("#calendar1 .fc-next-button").prop('disabled', false);
                                    }
                                }
                            },
                            eventLimit: true
                        });
                    }
                    else if(event.type === 'exception') {
                        console.log(event.message);
                    }
                    else {
                        console.log(event.message);
                    }
                },
                {
                    escape: false
                }
            );
        }

        // function to read the url paramenters
        $.extend({
            getUrlVars: function(){
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for(var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            },
            getUrlVar: function(name){
                return $.getUrlVars()[name];
            }
        });

        //function to call on click on search button
        function ChangeDateRange() {
            minDate = $(".startdate").val();
            maxDate = $(".enddate").val();
            if(minDate != '' && maxDate != ''){
                if(minDate < maxDate) {
                    minDate = $(".startdate").val();
                    maxDate = $(".enddate").val();
                    var coach = $(".coach").val();
                    window.location ='/apex/Coach_Session_Calendar?CId='+coach+'&minDate='+minDate+'&maxDate='+maxDate;
                }
                else {
                    alert('End Date should be greater than Start Date');
                }
            }
            else
                alert('Please Enter Valid Date');
        }

        //function to change the coach & refresh page
        function ChangeCalendar(){
            var coach=$(".coach").val();
            window.location ='/apex/Coach_Session_Calendar?CId='+coach;
        }

        //this function will call the calendar funtions on pageload
        $(document).ready(function() {
            CoachId=$.getUrlVar('CId');
            if($.getUrlVar('minDate') != null && $.getUrlVar('minDate') != '')
                minDate = moment($.getUrlVar('minDate'));
            else
                minDate = null;
            if($.getUrlVar('maxDate') != null && $.getUrlVar('maxDate') != '')
                maxDate = moment($.getUrlVar('maxDate'));
            else
                maxDate = null;
            if({!CurrentUserIsCoach} && $.getUrlVar('CId')==null ) {
                CoachId="{!CurrentUserId}";
            }
            $(".coach").val(CoachId);
            getEventData(minDate, maxDate);
            getEventData1(minDate, maxDate);
        });

    </script>

    <apex:form >
        <apex:pageBlock >
           <table>
                <tr>
                    <td><b>Change Coach : </b>
                        <apex:selectList value="{!CoachId}" multiselect="false" id="coach" size="1" styleClass="coach" onchange="ChangeCalendar()" >
                        <apex:selectOptions value="{!CoachList}"/>
                        </apex:selectList>
                    </td>
                </tr>
                <tr>
                    <td><b>Select Date Range :</b>
                         Start Date<apex:input value="{!StartDate}"  type="date" styleClass="startdate"/>
                         End Date<apex:input value="{!EndDate}" styleClass="enddate" type="date"/>
                         &nbsp;<apex:commandButton value="Search" onclick="ChangeDateRange()" onComplete="return null;"/>
                    </td>
                </tr>
            </table>
         </apex:pageBlock>
    </apex:form>
    <div class="CalendarHead"> P1 Healthy Solutions Calendar </div>
    <div id="calendar" style="Border: 0px solid #1797C0;padding: 15px; margin-bottom:15px"></div>
    <div class="CalendarHead"> Phase 2 Calendar</div>
    <div id="calendar1" style="Border: 0px solid #1797C0;padding: 15px;" ></div>
</body>
</apex:page>