<apex:page controller="cms.CoreController" showHeader="false" sidebar="false" standardStylesheets="false" cache="false">
<link href="{!URLFOR($Resource.HMR_CC_Theme, '/css/hmr.css')}" rel="stylesheet" type="text/css"/>
<apex:outputPanel rendered="{!api.page_mode == 'edit'}">
<style type="text/css">
    .Recipe_Detail{
        padding-top: 300px;
    }
</style>
</apex:outputPanel>
    <script>
/* zip finder */
var rd = {
    n: function(s, z, c) {
        //alert(z);
        var ps = {
            action: 'getRecipeDetail',
            urlName : z
        };
        $.orchestracmsRestProxy.doAjaxServiceRequest(s, ps, c); // Not Read-only mode
    },
    c: function(t, d) {
        //alert(d.success);
        //alert(d.setdata.length);
        if(d.success) {
            // alert(d.r_ingredients);
            $("#r_time").after(d.r_time);
            $("#r_vServe").html(d.r_vServe);
            $("#r_fServe").html(d.r_fServe);
            $("#r_calories").html(d.r_calories);
            $("#r_title").html(d.r_title);
            $("#r_ingredients").html(d.r_ingredients);
            $("#r_instructions").html(d.r_instructions);
            $("#r_hero").css('background-image', 'url(' + d.r_hero + ')');
        }
        else {
            //TODO: show failure message
            //alert("Please enter ZIP code");
            $(".Recipe_Detail").hide();
            console.log('ERROR' + d.message);
        }



        // for(var i = 0; i < localStorage.length ; i++){
        //     console.log("Account record Added: "+JSON.parse(localStorage.getItem("Item"+i)).Id);
        // }
    },
    // r: function() {
        //alert('r');
        //namespace.instances = {};
        // $('#zipcodebutton').on("click", function(){
            //var zipcode = $('#zipcodefinder').val();
            //zipcodeFinder(zipcode);
            // rd.s();
        // });
    // },
    s: function() {
        //alert('s');
        //get param URL

        var s = 'HMR_CMS_RecipeDetailServiceInterface';
        var z = $.urlParam('name');
        //var z = 'Chocolate-Caramel-Mocha-HMR-Shake';
       rd.n(s, z, rd.c);
    },
    i: function() {
        //alert('i');
        window.STG = window.STG || {};
        window.STG.CTLib = window.STG.CTLib || {};
        window.STG.CTLib.Idea = (function(global, namespace, undefined) {
            'use strict';
            rd.s();
        }(window, STG.CTLib.Idea || {}));
    }
};

$.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    return results[1] || 0;
}

$(document).ocmsDynamicLoadFinished(function() {
    rd.i();
});
    </script>

    <apex:composition template="{!page_template_reference}">
        <apex:define name="header">
            <apex:include pageName="HMR_CMS_ResourcesIncl" />
        </apex:define>
        <apex:define name="body">
            <apex:include pageName="HMR_CMS_HeaderIncl" />
            <div class="Recipe_Detail">
                <apex:outputText rendered="{!api.page_mode == 'edit'}">
                    <div>
                        <strong>Recipe Detail Page Content</strong>
                    </div>
                </apex:outputText>
                <cms:Panel panelName="recipeDetailContent" panelContentLayouts="HMR_RecipeDetail" panelController="{!controller}"
                                        panelLimit="1" panelHeight="60px" panelWidth="328px"/>
            </div>
            <apex:include pageName="HMR_CMS_FooterIncl" />
        </apex:define>
    </apex:composition>
</apex:page>