<apex:page controller="cms.CoreController" showHeader="false" sidebar="false" standardStylesheets="false" cache="false">
<link href="{!URLFOR($Resource.HMR_CC_Theme, '/css/hmr.css')}" rel="stylesheet" type="text/css"/>
    <apex:composition template="{!page_template_reference}">
        <apex:define name="header">
            <apex:include pageName="HMR_CMS_ResourcesIncl" />
        </apex:define>
        <apex:define name="body">
            <apex:include pageName="HMR_CMS_HeaderIncl" />
            <div class="hmr_welcome_reg">
                <main class="container-fluid">
                    <section class="herosection">
                        <div class="row">
                            <h2>Something went wrong!</h2><br/>
							<p style="text-align:center">We have encountered a temporary error and could not complete your request.</p><br/>

							<p style="text-align:center">If this error continues, please call a HMR Customer Relations Specialist by phone at</p>
							<p style="text-align:center">877-467-5161 (Monday – Friday, 9:00 a.m. - 6:00 p.m. Eastern Time).</p>
                        </div>
                    </section>
                </main>
            </div>
            <apex:include pageName="HMR_CMS_FooterIncl" />
        </apex:define>
    </apex:composition>
</apex:page>