<apex:page controller="cms.CoreController" showHeader="false" sidebar="false" standardStylesheets="false" cache="false">
    <head>
        <link rel="shortcut icon" href="{!URLFOR($Resource.HMR_Theme_Images, 'master/favicon.png')}" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

            <!-- Latest compiled and minified JavaScript -->
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js" integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js" integrity="sha256-0Yg/eibVdKyxkuVo1Qwh0DspoUCHvSbm/oOoYVz32BQ=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.8.1/jquery.serializejson.min.js" integrity="sha256-ISyOXVU6LCErg/1h8JdyxEqn43II16+tP6jamegGpOI=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js" integrity="sha256-ulGGyspSSi6W5KgThOiKwNgbGAdm+IR7zX6FmP2f3Jg=" crossorigin="anonymous"></script>
            <apex:stylesheet value="{!URLFOR($Resource.HMR_Theme, 'css/hmr_ecommerce.css')}"/>
            <script type="text/javascript" src="{!URLFOR($Resource.HMR_Theme_JS, 'main/hmr_template.js')}"></script>
            <script type="text/javascript" src="{!URLFOR($Resource.HMR_Theme_JS, 'main/hmr_ecommerce.js')}"></script>
    </head>
    <apex:composition template="{!page_template_reference}">
        <apex:define name="body">
             <apex:outputText rendered="{!api.page_mode == 'production'}">
                <apex:include pageName="HMR_CMS_HeaderIncl" />
             </apex:outputText>
             <main>
                <div class="coaching_wrapper">
                    <div class="container">
                        <div class="col-xs-12">
                            Dashboard Coming Soon
                        </div>
                    </div>
                </div>
            </main>
            <apex:outputText rendered="{!api.page_mode == 'production'}">
                <apex:include pageName="HMR_CMS_FooterIncl" />
            </apex:outputText>
            <apex:outputText rendered="{!api.page_mode == 'edit'}">
                <div>
                    <strong>User Information Content Template</strong>
                </div>
            </apex:outputText>
            <cms:Panel panelName="userInfoContentSection"
                       panelContentLayouts="HMR_CMS_UserInfo_ContentTemplate"
                       panelController="{!controller}"
                       panelHeight="100px"
                       panelWidth="328px"/>
        </apex:define>
    </apex:composition>
</apex:page>