<apex:page controller="cms.CreateContentController" extensions="HMR_CMS_ConsentAgr_ContentTemplate" 
                showHeader="false" standardStylesheets="false" sidebar="false" cache="false">
    <apex:stylesheet value="{!URLFOR($Resource.HMR_CC_Theme, 'css/ocms_fix.css')}"/>
    <script type="text/javascript">           
 
        
        function createSimpleTextAttribute(inputId) {
            var $element = $('#' + inputId);
            return {
                name: inputId,
                value: $element.val(),
                type: 'Text',
                simple: true
            };
        }
        
        function createCheckboxAttribute(inputId){
            var $element = $('#' + inputId);
            var isShow;
            if($element.is(":checked")){
                isShow = 'show';
            }else{
                isShow = '';
            }
            return {
                name: inputId,
                value: isShow,
                type: 'Text',
                simple: true
            };
        }
        

        
        function createSelectAttributeRender(inputId) {
            var $element = $('#' + inputId);
            return {
                name: inputId,
                //value: '{!renderType}',
                value: $element.val(),
                type: 'Text',
                simple: true
            };
        }
        function createSelectAttributeConsentType(inputId) {
            var $element = $('#' + inputId);
            return {
                name: inputId,
                value: $element.val(),
                //value: '{!consentType}',
                type: 'Text',
                simple: true
            };
        }
        
        function getAttributes() {
            var attributes = [];            
            
            attributes.push(createSelectAttributeRender('renderType'));
            attributes.push(createSelectAttributeConsentType('consentType'));   
            attributes.push(createCheckboxAttribute('showOnScreen'));
            console.log(attributes);            
            return attributes;
        }       
        function init() {
            ce.content_editor('registerSaveFunction', getAttributes);
        }    
        $(document).ready(init);
    </script>               
    <table class="ocmsContentEditor ocmsContentEditorNested">
        <tbody>
            <tr class="attribute-container">
                <td>
                    <label class = "ocmsLabel" > Consent Type: </label>
                </td>
                <td>
                    <select class="consentType" id="consentType" name="consentType" >
                        <option value='HMR Terms & Conditions'> HMR Terms &amp; Conditions </option>
                        <option value='Auto-Delivery'>Auto-Delivery </option>
                        <option value='Health'> Health </option>
                        <option value='Privacy/Tracking'> Privacy/Tracking </option> 
                        <option value='Guarantee'> Guarantee </option>
                        <option value='Shipping'> Shipping </option>
                    </select>
                </td>
            </tr>
            
            
            <tr class="">
                <td>
                    <label class = "ocmsLabel" >Render Type: </label>
                </td>
                <td>
                    <select class="renderType" id="renderType" name="renderType" >
                        <option value='Modal'> Modal </option>  
                        <option value='Content'> Content </option>                                               
                    </select>
                </td>
            </tr>
            
            <tr class="">
                <td>
                    <label class = "ocmsLabel" >Want To Show On Screen: </label>
                </td>
                <td>
                
                    <apex:outputText escape="false" rendered="{!disableAll}">
                        <input id="showOnScreen" name="showOnScreen" type="checkbox" value="{!showOnScreen}" disabled="disabled"></input>                   
                    </apex:outputText>
                    <apex:outputText escape="false" rendered="{!!disableAll}">
                        <input id="showOnScreen" name="showOnScreen" type="checkbox" value="{!showOnScreen}"></input>
                    </apex:outputText>
                </td>
            </tr>
                                
                                
        </tbody>            
    </table>
</apex:page>