<apex:page controller="cms.CreateContentController" extensions="HMR_CMS_LegalDisclaimer_ContentTemplate" showHeader="false" standardStylesheets="false" sidebar="false" cache="false">
	<table class="ocmsContentEditor ocmsContentEditorNested">
		<tbody>
			<tr class="ocmsEditorSubtitle">
				<td colspan="2">Legal Disclaimer</td>
			</tr>
			<tr class="attribute-container" style="vertical-align: top;">
				<td>
					<label class="ocmsLabel">Text:</label>
				</td>
				<td>
					<textarea name="DisclaimerText" id="DisclaimerText" rows="24" cols="50">{!DisclaimerText}</textarea>
	                <p class="ocmsHelpText">Please enter this disclaimer text.</p>
				</td>
			</tr>
			<tr class="ocmsEditorSubtitle">
				<td colspan="2">Container Wrapper CSS Class</td>
			</tr>
			<tr class="attribute-container">
				<td>
					<label class="ocmsLabel">CSS Class:</label>
				</td>
				<td>
					<apex:outputText escape="false" rendered="{!disableAll}">
	                    <input id="ContainerWrapperCSSClass" name="ContainerWrapperCSSClass" type="text" value="{!ContainerWrapperCSSClass}" disabled="disabled"></input>            
	                </apex:outputText>
	                <apex:outputText escape="false" rendered="{!!disableAll}">
	                    <input id="ContainerWrapperCSSClass" name="ContainerWrapperCSSClass" type="text" value="{!ContainerWrapperCSSClass}"></input>
	                </apex:outputText> 
	                <p class="ocmsHelpText">Please enter the wrapper css class for any padding/background color.</p>
				</td>
			</tr>
		</tbody>			
	</table>
    <script type="text/javascript">
        function createSimpleTextAttribute(inputId) {
	    	var $element = $('#' + inputId);
		    return {
		        name: inputId,
		        value: $element.val(),
		        type: 'Text',
		        simple: true
		    };
		}

    	function getAttributes() {
		    var attributes = [];

		    attributes.push(createSimpleTextAttribute('ContainerWrapperCSSClass'));
		    attributes.push({"name":"DisclaimerText", "value":CKEDITOR.instances.DisclaimerText.getData(), "type":"Text"},)

		    return attributes;
		}

    	function init() {
    		CKEDITOR.replace('DisclaimerText');
            ce.content_editor('registerSaveFunction', getAttributes);
        }
        
		$(document).ready(init);
    </script>
    <apex:stylesheet value="{!URLFOR($Resource.HMR_CC_Theme, 'css/ocms_fix.css')}"/>
</apex:page>