<apex:page controller="cms.CoreController" showHeader="false" sidebar="false" standardStylesheets="false" cache="false">
	<head>
		<link rel="shortcut icon" href="{!URLFOR($Resource.HMR_Theme_Images, 'master/favicon.png')}" />
		<meta name="p:domain_verify" content="5500860d037f2c6293caffe31caf5bd6"/>
	</head>
	<apex:composition template="{!page_template_reference}">
		<apex:define name="header">
			<apex:include pageName="HMR_CMS_ResourcesIncl" />
		</apex:define>
		<apex:define name="body">
			<script type="text/javascript">
			var hss = {
				r: function(ps, c) { //Remote call
			        if(ps && window.doServiceRequest) {
			            $.orchestracmsRestProxy.doAjaxServiceRequest("HMR_CMS_Plans_ServiceInterface", ps, c); // Not Read-only mode
			        }
			    },
				g: function() {
			        var request = {
			            action : "getUserType",
			            userId : CMS.userid
			        };
			        return request;
			    },
				h: function() {
					if($(".hss_tab").length > 0) {
						$(".hss_tab").removeClass("hidden");
					}
					else {
						$(".healthyshakes-row").removeClass("hidden");
					}
					$(".plans-mobile-footer-div").removeClass("hidden");
				},
				c: function(t, d) {
					if(d.success && d.isShakeOption) {
						hss.h();
			        }
			    },
				i: function() {
					window.STG = window.STG || {};
			        window.STG.CTLib = window.STG.CTLib || {};
			        window.STG.CTLib.Idea = (function(global, namespace, undefined) {
			           'use strict';
			            hss.r(hss.g(), hss.c);
			        }(window, STG.CTLib.Idea || {}));
				},
				s: function() {
					if(window.location.pathname == "/healthy-shakes-diet-plan") {
						if($(".plans-mobile-footer-div").length > 0) {
							$(".plans-mobile-footer-div").removeClass("hidden");
						}
					}
					if(window.location.pathname == "/healthy-solutions-at-home-diet-plan" || window.location.pathname == "/plans-mobile") {
						if(CMS.isGuest)
							hss.h();				
					}
				}
			};
			if(window.location.pathname == "/healthy-solutions-at-home-diet-plan" || window.location.pathname == "/plans-mobile") {
				if(!CMS.isGuest)
					hss.i();
			}
			$(document).ocmsDynamicLoadFinished(function() {
				hss.s();
			});
			</script>
			<apex:include pageName="HMR_CMS_HeaderIncl" />
			<div class="hmr-modal modal fade" id="ConfirmationModalDialog" tabindex="-1" role="dialog" aria-labelledby="ConfirmationModalDialog" aria-hidden="true">
		        <div class="modal-dialog modal-lg" role="document">
		            <div class="modal-content hmr-modal-content">
		                <div class="modal-header hmr-modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                        <span aria-hidden="true">x</span>
		                    </button>
		                </div>
		                <div class="modal-body hmr-modal-body">
		                    <div class="row text-center">
		                        <h2 id="ConfirmationModalDialogHeader"></h2>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
			<div class="hmr-modal modal fade" id="hmrSubscribeModal" tabindex="-1" role="dialog" aria-labelledby="hmrSubscribeModal" aria-hidden="true">
		        <div class="modal-dialog modal-lg" role="document">
		            <div class="modal-content hmr-subscribemodal-content">
		                <div class="">
		                    <div class="row">
		                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding bg-subscribemodal bg-typecover visible-lg visible-md hidden-sm hidden-xs">
		                        </div>
		                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 subscribe-section-modal">
		                            <div class="modal-header hmr-modal-header">
		                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                                    <span aria-hidden="true">x</span>
		                                </button>
		                            </div>
		                            <div class="row form-subscribeModal">
		                                <h2 class="text-center">Subscribe</h2>
		                                <form id="hmrSubscribeModalForm">
		                                    <label for="subscribeModalFN">First Name</label>
		                                    <input type="text" id="subscribeModalFN" name="subscribeModalFN" class="form-control hmr-formcontrol" required="" autofocus="" />
		                                    <label for="subscribeModaLN">Last Name</label>
		                                    <input type="text" id="subscribeModalLN" name="subscribeModalLN" class="form-control hmr-formcontrol" required="" autofocus="" />
		                                    <label for="subscribeModalEmail">Email</label>
		                                    <input type="email" id="subscribeModalEmail" name="subscribeModalEmail" class="form-control hmr-formcontrol" required="" autofocus="" />
		                                    <label for="subscribeModalZipCode">Zip Code</label>
		                                    <input type="text" id="subscribeModalZipCode" name="subscribeModalZipCode" class="form-control hmr-formcontrol" required="" autofocus="" />
		                                </form>
		                                <div class="btn-container text-center">
		                                    <a id="subscribeModalSubmitBtn" class="btn btn-primary hmr-btn-blue hmr-btn-small">Subscribe</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
			<main class="hero-main">

				<apex:outputText rendered="{!api.page_mode == 'edit'}">
					<div>
						<strong>Page Hero Section Content Template</strong>
					</div>
				</apex:outputText>
				<cms:Panel panelName="heroSectionsContent" panelContentLayouts="HMR_HomePage_HeroContentTemplate,HMR_PlansHero_ContentTemplate,HMR_ClinicLander_HeroContent,HMR_CoachValuePropHero_ContentTemplate,HMR_TrainingCenter_HeroContent,HMR_ProfessionalsPage_HeroContent" panelController="{!controller}"
						panelHeight="100px" panelWidth="328px"/>

				<apex:outputText rendered="{!api.page_mode == 'edit'}">
					<div>
						<strong>Page Details Section Content Template after Hero (for e.g. Plans Page)</strong>
					</div>
				</apex:outputText>
				<cms:Panel panelName="detailsSectionsContent" panelContentLayouts="HMR_PlansDetails_ContentTemplate,HMR_TrainingCenterDetailsExclusions_ContentTemplate,HMR_ProfessionalsPage_DetailsContent" panelController="{!controller}"
						panelHeight="100px" panelWidth="328px"/>

				<apex:outputText rendered="{!api.page_mode == 'edit'}">
					<div>
						<strong>Page Sections Content Template</strong>
					</div>
				</apex:outputText>
				<cms:Panel panelName="pageSectionsContent" panelContentLayouts="HMR_Marketing_PageSections,HMR_VideoPageSection_ContentTemplate,HMR_SuccessStoryHome_ContentTemplate,HMR_CallOutSection_ContentTemplate" panelController="{!controller}"
						panelHeight="300px" panelWidth="328px"/>

				<apex:outputText rendered="{!api.page_mode == 'edit'}">
					<div>
						<strong>Page Footer Sections Content Template that contains page Info (for e.g. Plans Page Info Section as the last section on the page)</strong>
					</div>
				</apex:outputText>
				<cms:Panel panelName="footerInfoSectionsContent" panelContentLayouts="HMR_PlansFooterInfoSection_ContentTemplate,HMR_ClinicLander_FooterContent,HMR_CallOutSection_ContentTemplate" panelController="{!controller}"
						panelHeight="100px" panelWidth="328px"/>

			</main>
			<apex:include pageName="HMR_CMS_FooterIncl" />
		</apex:define>
	</apex:composition>
</apex:page>