<apex:page controller="cms.CreateContentController" extensions="HMR_CMS_ClinicLanderHero_ContentTemplate" showHeader="false" standardStylesheets="false" sidebar="false" cache="false">
	<apex:stylesheet value="{!URLFOR($Resource.HMR_CC_Theme, 'css/ocms_fix.css')}"/>
	<script type="text/javascript" language="javascript">
		function createSimpleTextAttribute(inputId) {
			var $element = $('#' + inputId);
			return {
				name: inputId,
				value: $element.val(),
				type: 'Text',
				simple: true
			};
		}
		function getAttributes() {
            var attributes = [];
            attributes.push(createSimpleTextAttribute('AccountCSSClass'));
            return attributes;
        }
        function init() {
            ce.content_editor('registerSaveFunction', getAttributes);
        }
        $(document).ready(init);
	</script>
	<table class="ocmsContentEditor ocmsContentEditorNested">
         <tbody>
            <tr class="ocmsEditorSubtitle">
                <td colspan="2">Account Information</td>
            </tr>
            <tr class="attribute-container">
                <td>
                    <label class = "ocmsLabel" > CSS Class: </label>
                </td>
                <td>
                    <apex:outputText escape="false" rendered="{!disableAll}">
                        <input id="AccountCSSClass" name="AccountCSSClass" type="text" value="{!AccountCSSClass}" disabled="disabled"></input>
                    </apex:outputText>
                    <apex:outputText escape="false" rendered="{!!disableAll}">
                        <input id="AccountCSSClass" name="AccountCSSClass" type="text" value="{!AccountCSSClass}"></input>
                    </apex:outputText>
                    <p class="ocmsHelpText">Please Enter the CSS Class that set's the background image for the clinic</p>
                </td>
            </tr>
        </tbody>
    </table>

</apex:page>