<apex:page controller="cms.CreateContentController" extensions="HMR_CMS_CardList_ContentTemplate" showHeader="false" standardStylesheets="false" sidebar="false" cache="false">
	<table class="ocmsContentEditor ocmsContentEditorNested">
		<tbody>
			<tr class="ocmsEditorSubtitle">
				<td colspan="2">List Title</td>
			</tr>
			<tr class="attribute-container">
				<td>
					<label class="ocmsLabel">Title:</label>
				</td>
				<td>
					<apex:outputText escape="false" rendered="{!disableAll}">
	                    <input id="ListTitle" name="ListTitle" type="text" value="{!ListTitle}" disabled="disabled"></input>            
	                </apex:outputText>
	                <apex:outputText escape="false" rendered="{!!disableAll}">
	                    <input id="ListTitle" name="ListTitle" type="text" value="{!ListTitle}"></input>
	                </apex:outputText> 
	                <p class="ocmsHelpText">Title/Category displayed on card</p>
				</td>
			</tr>
			<tr class="ocmsEditorSubtitle">
				<td colspan="2">Object Type</td>
			</tr>
			<tr class="attribute-container">
                <td>
                    <label class="ocmsLabel">Object:</label>
                </td>
                <td>
                    <select class="ObjectType" id="ObjectType" name="ObjectType">
                    	<option value='DataCategory'>Data Category</option>
                        <option value='Recipes'>Recipes</option>
                    </select>
                    <p class="ocmsHelpText">Indicates which object cards will be displayed for.</p>
                </td>  
            </tr>
			<tr class="ocmsEditorSubtitle">
				<td colspan="2">Optional Configurations</td>
			</tr>
			<tr class="attribute-container">
                <td>
                    <label class="ocmsLabel">Data Category:</label>
                </td>
                <td>
                    <select class="DataCategory" id="DataCategory" name="DataCategory">
                        <option value='Getting_Started'>Getting Started</option>
                        <option value='Eating_Well'>Eating Well</option> 
                        <option value='Being_More_Active'>Being More Active</option>
                        <option value='Staying_on_Track'>Staying on Track</option>
                    </select>
                    <p class="ocmsHelpText">Only for non-recipes to filter to a specific category.</p>
                </td>  
            </tr>
			<tr class="attribute-container">
                <td>
                    <label class="ocmsLabel">Recipe Category:</label>
                </td>
                <td>
                    <select class="RecipeCategory" id="RecipeCategory" name="RecipeCategory">
                        <option value='All'>All</option>
                        <option value='Decision Free'>Decision Free</option>
                        <option value='Healthy Solutions'>Healthy Solutions</option> 
                        <option value='Healthy Shakes'>Healthy Shakes</option>
                        <option value='Phase 2'>Phase 2</option>
                    </select>
                    <p class="ocmsHelpText">Only used for recipes to filter to a specific category.</p>
                </td>  
            </tr>
		</tbody>			
	</table>
    <script type="text/javascript">
    	function createSelectAttribute(inputId, value) {
            var $element = $('#' + inputId);
            return {
                name: inputId,
                value: $("#" + inputId + " :selected").val(),
                type: 'Text',
                simple: true
            };
        }

        function createSimpleTextAttribute(inputId) {
	    	var $element = $('#' + inputId);
		    return {
		        name: inputId,
		        value: $element.val(),
		        type: 'Text',
		        simple: true
		    };
		}

    	function getAttributes() {
		    var attributes = [];

		    attributes.push(createSimpleTextAttribute('ListTitle'));
		   	attributes.push(createSelectAttribute('ObjectType', '{!ObjectType}'));
		   	attributes.push(createSelectAttribute('DataCategory', '{!DataCategory}'));
		    attributes.push(createSelectAttribute('RecipeCategory', '{!RecipeCategory}'));

		    return attributes;
		}

    	function init() {
            ce.content_editor('registerSaveFunction', getAttributes);
        }
        
		$(document).ready(init);
    </script>
    <apex:stylesheet value="{!URLFOR($Resource.HMR_CC_Theme, 'css/ocms_fix.css')}"/>
</apex:page>