<apex:page controller="cms.CreateContentController" extensions="HMR_CMS_PlansHero_ContentTemplate" showHeader="false" standardStylesheets="false" sidebar="false" cache="false">
	<apex:stylesheet value="{!URLFOR($Resource.HMR_CC_Theme, 'css/ocms_fix.css')}"/>
	<script type="text/javascript" language="javascript">
		function createSimpleTextAttribute(inputId) {
			var $element = $('#' + inputId);
			return {
				name: inputId,
				value: $element.val(),
				type: 'Text',
				simple: true
			};
		}
		function createSelectAttribute(inputId, value) {
	    	var $element = $('#' + inputId);
		    return {
		        name: inputId,
		        value: $("#" + inputId + " :selected").val(),
		        type: 'Text',
		        simple: true
		    };
		}
		function getAttributes() {
			var attributes = [];
			attributes.push(createSimpleTextAttribute('SectionTitle'));
			attributes.push(createSimpleTextAttribute('SectionSubTitle'));
			attributes.push(createSelectAttribute('DesktopOrMobile', '{!DesktopOrMobile}'));
			attributes.push(createSelectAttribute('ProgramType', '{!ProgramType}'));
			return attributes;
		}
		function init() {
			ce.content_editor('registerSaveFunction', getAttributes);
		}
		$(document).ready(init);
	</script>
	<table class="ocmsContentEditor ocmsContentEditorNested">
		 <tbody>
			<tr class="ocmsEditorSubtitle">
 				<td colspan="2">Section Title</td>
 			</tr>
 			<tr class="attribute-container">
 				<td>
 					<label class = "ocmsLabel" > Text: </label>
 				</td>
 				<td>
 					<apex:outputText escape="false" rendered="{!disableAll}">
 	                    <input id="SectionTitle" name="SectionTitle" type="text" value="{!SectionTitle}" disabled="disabled"></input>
 	                </apex:outputText>
 	                <apex:outputText escape="false" rendered="{!!disableAll}">
 	                    <input id="SectionTitle" name="SectionTitle" type="text" value="{!SectionTitle}"></input>
 	                </apex:outputText>
 	                <p class="ocmsHelpText">Please Enter the title text for the Plans Hero Section</p>
 				</td>
 			</tr>
			<tr class="ocmsEditorSubtitle">
 				<td colspan="2">Section SubTitle</td>
 			</tr>
 			<tr class="attribute-container">
 				<td>
 					<label class = "ocmsLabel" > Text: </label>
 				</td>
 				<td>
					<apex:outputText escape="false" rendered="{!disableAll}">
 	                    <input id="SectionSubTitle" name="SectionSubTitle" type="text" value="{!SectionSubTitle}" disabled="disabled"></input>
 	                </apex:outputText>
 	                <apex:outputText escape="false" rendered="{!!disableAll}">
 	                    <input id="SectionSubTitle" name="SectionSubTitle" type="text" value="{!SectionSubTitle}"></input>
 	                </apex:outputText>
					<p class="ocmsHelpText">Please Enter the Sub Title Text for the Plans Hero Section</p>
 				</td>
 			</tr>
			<tr class="ocmsEditorSubtitle">
				<td colspan="2">Plans Desktop or Plans Mobile Page:</td>
			</tr>
			<tr class="attribute-container">
				<td>
					<label class = "ocmsLabel" > Select: </label>
				</td>
				<td>
					<select class="DesktopOrMobile" id="DesktopOrMobile" name="DesktopOrMobile">
						<option value="Desktop">Desktop</option>
						<option value="Mobile">Mobile</option>
					</select>
					<p class="ocmsHelpText">Please select if the section is rendered on a Plans Desktop Page or Plans Mobile Page</p>
				</td>
			</tr>
			<tr class="ocmsEditorSubtitle">
				<td colspan="2">Program Type:</td>
			</tr>
			<tr class="attribute-container">
				<td>
					<label class = "ocmsLabel" > Select: </label>
				</td>
				<td>
					<select class="ProgramType" id="ProgramType" name="ProgramType" >
						<option value="HSAH">Healthy Solutions</option>
						<option value="HSS">Healthy Shakes</option>
					</select>
				   <p class="ocmsHelpText">Please select the program type based on the page that you are adding this content to. Select Healthy Solutions if this is a Healthy Solutions Page.</p>
			   </td>
		   	</tr>
		</tbody>
	</table>

</apex:page>